<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>Dr. Argentina Vidrascu</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right"><img src="img/argentina.jpg" class="img-circle delay-03s animated wow zoomIn" alt=""></div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
			<h3>PROFESSIONAL EXPERIENCE</h3><br/> 
<ul>
<li>1998-2003 residence in Plastic and Reconstructive Surgery
University Clinic J. Hatieganu - Cluj-Napoca (Romania) Department
of Plastic and Reconstructive Microsurgery. Prof. Dr. Alexandru
Georgescu</li>
<li>15.07.1998-15.07.2000 Plastic and Reconstructive Surgery
Dpt.</li>
<li>16.07.2000-15.01.2001 General Surgery Dpt.</li>
<li>16.01.2001-15.05.2001 Orthopedics Traumatology Dpt.</li>
<li>16.05.2001-15.07.2001 Infant Surgery and Orthopedics Dpt.</li>
<li>16.07.2001-15.08. 2001 ENT Dpt.</li>
<li>16.08.2001-15.09.2001 Ophtalmology Dpt.</li>
<li>16.09.2001- 15.11.2001 BMF Surgery Dpt.</li>
<li>16.11.2001- 15. 07.2003 Plastic Surgery Dpt.</li>
<li>Since november 2003- Plastic Surgery Specialist at Medical
University "Iuliu Hatieganu " Plastics Dpt.</li>
<li>Since December 2004- working in my own private practice
"LIPOLINE"</li>
<li>Since Ianuarie 2009 - Plastic Surgery Consultant at Military
Emergency Hospital Dr. C-tin Papilian" Cluj-Napoca</li>
</ul>
<h3>EDUCATION</h3>
<ul>
<li>1990 Graduation secondary school</li>
<li>1997 Medical University degree of University Clinic J.
Hatieganu , Cluj-Napoca ( licence average ; 9.48 out of 10)</li>
<li>2003 march Confirming Diploma of Specialist in Plastic and
Reconstructive Microsurgery ( general average 9.40 out of 10)</li>
<li>2010 November PhD medical degree</li>
</ul>
<h3>ADDITIONAL SPECIALIZATION COURSES AND OVERSEAS RESIDENCIES</h3>

<ul>
<li>1996 Medical terms in French language course.</li>

<li>1999 Residence/Practice in Plastic Surgery Department in Centre
Hospitalier Universitaire Vaud/Lausanne
(<strong>Switzerland</strong>) Prof. Dr. Daniel Eglof</li>

<li>2000 stage at the Traumatology Dept. of KAPU Hospital, Miskolc
<strong>Hungary</strong>, Consultant Dr. Zsolt . Szabo.</li>

<li>2001 

<ul>
<li>February: Present concepts in traumatic hand-surgery
(Cluj)</li>
</ul>
</li>

<li>2002 

<ul>
<li>January - February: Practice as invited registrar at Plastic
Surgery Dept. Royal Hospital London Whitechappel Consultant Dr. M.
Shibu</li>

<li>07 June <strong>IELTS</strong>, Bucharest (general average
-6.50)</li>

<li>November: International practical course "Flap surgery" -
Timisoara Romania</li>
</ul>
</li>

<li>2003 

<ul>
<li>o March: Examina and recognition of Specialisation in Plastic
and Reconstructive Microsurgery. University Clinic J. Hatieganu ,
Cluj-Napoca , Romania Confirming Diploma of Specialist in Plastic
and Reconstructive Microsurgery</li>

<li>April : Practical course « Free tissue transfers » in Cluj -
Napoca</li>

<li>October: Practical course "Mamar reconstruction" in Timisoara ,
Romania</li>

<li>November: Admission to PhD work "New preoperative and operative
methods in decubitus lesions and vascular ulcers treatment". Main
topic - Pulsed Galvanic Stimulation.</li>
</ul>
</li>

<li>2004 - April: International practical course ;"Free tissue
transfers" (Cluj-Napoca, Romania</li>

<li>2005 - May - Intensive Course and Live Workshop Mesotherapy,
Restylane, Bucharest , Romania. Prof. Dr. Anthony Erian</li>

<li>2005 - September 22-24 Practical live Aesthetic Surgery course,
Saint -Petersburg, <strong>Russia</strong></li>

<li>2006 - June, Postgraduate ISAPS Aesthetic Surgery course San
Servolo Island, <strong>VENICE</strong></li>

<li>2007 

<ul>
<li>June, Liposculpture on Body and Abdomen-masterclass at 14/th
International Congress of the IPRAS, BERLIN</li>

<li>June, Rhinoplasty- masterclass at 14-th International Congress
of the IPRAS, <strong>BERLIN</strong></li>
</ul>
</li>

<li>2008 - September, The III-rd International Course of the Hand
surgery and hand therapy, CLUJ-NAPOCA</li>

<li>2009 

<ul>
<li>July - Aesthetic Surgery II DP. Bucharest</li>

<li>July - 'Cosmetic facial surgery' - Bucharest</li>

<li>March- The II-nd Open <strong>Rhinoplasty</strong> Course ,
<strong>BERGAMO</strong></li>
</ul>
</li>

<li>2010 

<ul>
<li>November - visiting doctor at Dr. Wu's clinic,
<strong>Singapore</strong></li>

<li>November 18-th PhD "Viva" session</li>
</ul>
</li>

<li>2011 - May 4-6 19-th Stuttgart Advanced Course for Functional
and Aesthetic Rhinoplasty</li>

<li>2011 - November 25 Mamar augmentation course dr. Mayo,
Bucharest</li>

<li>2012 March 01-05 The III-rd Open Rhinoplasty Course,
BERGAMO</li>

<li>2012 1-5 th April, Alexandria Rhinoplasty Live Surgery
Felloship</li>
</ul>

<h3>PUBLICATIONS AND CONGRESSES</h3>

<ul>
<li>1999 <strong>joint author</strong> "Free osteo-muscular
serratus anterior flap in thumb reconstruction" - Romanian Journal
of hand and Reconstructive Microsurgery.</li>

<li>2000 May: <strong>joint author</strong>" New perspectives in
brachial plexus palsy" in International Microsurgery Congress in
Iasi/Romania</li>

<li>2001 May: Patent Nr. 116704/OSIM (Lotion for external cosmetic
use)</li>

<li>2001 August: <strong>joint author</strong> " Free tissue
transfers in traumatology" presented at the National Plastic
Surgery Congress in Sinaia/Romania</li>

<li>2002 October: <strong>joint author</strong> of several papers
presented at the "4th. National Congress of Hand Surgery",
Bucharest, Romania</li>

<li>2003 May <strong>Main author</strong> :"Pulsed Galvanic
Stimulation and pressure sore surgical treatment " -Sinaia
,National Congress of Plastic Surgery</li>

<li>2005 May -National Congress of Aesthetic Surgery, Bucharest,
Romania</li>

<li>2005 June - <strong>main author</strong>: " PGS and surgical
treatment"-International Congress Aesthetic Surgery,
<strong>ODESSA, UKRAINE</strong></li>

<li>2005 september-International Conference of Plastic
,Reconstructive and Aesthetic Surgery, <strong>Saint-Petersburg
RUSSIA</strong></li>

<li>2006 september 1- st, main author "The Galvanic Pulsatile
Stimulations associated to the plastic surgery treatment of the
decubitus lesions",9-th European Pressure Ulcer Advisory Panel open
meeting, BERLIN, GERMANY</li>

<li>2007 June-main author " Perforating flaps in pressure sore
plastic surgery" IPRAS Congress, <strong>BERLIN</strong></li>

<li>2008 Octomber" Conferinta Nationala de dermatologie",
Sibiu</li>

<li>2007 September - main author '' pressure ulcers and PGS
treatment'' 10-th EPUAP meeting, <strong>OXFORD</strong></li>
</ul>

<p>2007 October Elected as <strong>EPUAP</strong> ( European
Pressure Ulcer Advisory Panel)Trustee</p>

<ul>
<li>2007 September - Vidraşcu A, Georgescu A. ''Stimulări Pulsatile
Galvanice în tratamentul chirurgical şi conservator al leziunilor
de decubit gradul III-IV''. Clujul Medical, vol. LXXX. nr2.</li>

<li>2007 September -Vidraşcu A, Georgescu A.'' Noi metode de
profilaxie şi tratament pentru pacienţii imobilizaţi la pat''.
Clujul Medical, vol. LXXX. nr2.</li>

<li>2007 December - Cristodor P., Vidraşcu A.,Popovici M., Blăja
R., Muntean D. ''<strong>Dermatologie practică. Diagnostic clinic.
Ghid de investigaţii şi tratament</strong>'' <strong>Editura Libra
Bucureşti , ISDN 978-973-7633-58-3</strong></li>
</ul>

<p>2008 - Octombrie Conferinta Nationala de dermatologie, Sibiu,
Romania</p>

<ul>
<li>"Reparare prin cross-finger flap a defectului restant intr-o
suspiciune de melanom unghial"</li>

<li>"Utilizarea colagenului endogen pentru modelarea unei urechi
malformate"</li>

<li>" Tratament complex al cicatricilor hipertrofice - prezentare
de caz"</li>
</ul>

<p>2008 12-15 Noiembrie: The 10-th International Congress of The
Romanian Plastic Surgeons, Bucharest, Romania</p>

<ul>
<li>Prezentare prim-autor "PGS and surgical pressure ulcers
treatment"</li>

<li>Prezentare prim-autor " Surgical minim invasive RF
technics"</li>
</ul>

<ul>
<li>11-13 February "Main author " PGS and surgical pressure sore
treatment " simposium " Zilele Spitalului Militar " Dr. C-tin
Papilian"</li>

<li>2009 12-16 May coautor 'Congres de melanom - al 5 congres al
asociatiei europene de dermatologie-oncologie',
<strong>Paris</strong></li>

<li>2009 December - main author " RF vagina tightening"IPRAS,
<strong>NEW DELHI</strong>, <strong>INDIA</strong></li>

<li>x19-21 Februarie, 2010 Invited Faculty at "Female Cosmogenital
Surgery" Workshop, BHOPAL , <strong>INDIA</strong></li>

<li>9-11 March 2010 main author " Perforating flap for oncological
reconstruction" , Military Hospital Simposium, Cluj-Napoca</li>

<li>2011 October 5-8 The National Conferens of ACPR "Autospreader
grafts in open rhinoplasty", "Spreading technic in hialuronic acid
injections"</li>
</ul>

<h3>PUBLICATIONS AND FACULTY</h3>

<p>Vidraşcu A, Georgescu A. "The Galvanic Pulsatile Stimulations
associated to the plastic surgery treatment of the decubitus
lesions. Clujul Medical, vol. LXXX. nr2.</p>

<ol>
<li><strong>Vidraşcu A</strong>, Georgescu A. " Bed bounded
patients: profilaxie and treatament ". Clujul Medical, vol. LXXX.
nr2.</li>

<li>Patricia Cristodor, Argentina Vidraşcu,Marinela Popovici,
Danina Muntean, Romaniþa Glãja" <strong>PRACTICAL
DERMATOLOGY</strong>" ISBN 13: 978-973-7633-58-3, 2007, 11.5,
428-430</li>

<li>REVISTA SCIENTIA PARASITOLOGICA" <strong>Demodex folliculorum
In dermatology</strong>" Patricia CRISTODOR, Smaranda Rodica GOłIA,
Marinela POPOVICI, Smaranda Laura GOłIA, <strong>Argentina
VIDRAŞCU</strong>, Oana JUROVITS, Doina NIłU, Caius SOLOVAN 2008 -
Vol. 9 - Nr.</li>

<li>Faculty at Workshop on Female Cosmogenital Surgery, February,
19th, 2010 GANDHI Medical College, Bhopal, INDIA</li>

<li>Oration at the 27th Annual Conference of M.P. State Chapter
19-21 Feb, 2010</li>

<li>Abstract Corner presentation at III-rd Bergamo Open Rhinoplasty
Course: "Autospreader flsaps saving time, septum resources and
dorsum width in selected cases", 1-3 March, 2012</li>
</ol>

<h3>LANGUAGES</h3>

<p><strong>Romanian</strong> - native language;</p>

<p><strong>English</strong> - writing and speaking</p>

<p><strong>French</strong> - writing and speaking,</p>

<p><strong>Russian</strong> - writing and speaking,</p>

<p><strong>Hungarian</strong> - speaking</p>

<h3>PERSONAL DATA</h3>

<p>Born 04.04.1973</p>

<p>Mother: Ana Vidrascu - Physician,</p>

<p>Father: Nicanor Vidrascu - dermatologist.</p>

<p>child born 06.12.1993</p>
</div>
<div class="work_bottom"> <span>Want to know more..</span> <a href="#contact" class="contact_btn">Contact Us</a> </div>       
	   </div>
      	
      </div>
	  
      
    </div>
  </div> 
  </div>
</section>
<!--Aboutus--> 
