<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2><strong>Dr. Argentina Vidrascu</strong></h2>
	<h2><i>European Medical License
MD, PhD Plastic and Reconstructive Microsurgery
www.rinoplastiecluj.ro</i>
</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right"><img src="img/argentina.jpg" class="img-circle delay-03s animated wow zoomIn" alt=""></div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
			<h3>PROFESSIONAL EXPERIENCE</h3><br/> 
<ul>
<li>	January 2009 – present Plastic Surgery Consultant at Military Emergency Hospital Dr. C-tin Papilian, Cluj-Napoca, Romania.</li>
<li>	December 2004- present  Plastic Surgery Consultant and owner  at Lipoline  private clinic, Cluj-Napoca, Romania. 
	November 2003 - November 2007 Plastic Surgery Specialist at Medical University  Iuliu Hatieganu Plastics Department, Cluj-Napoca, Romania.
</li>
<li>	1998-2003 Residence in Plastic and Reconstructive Surgery University Clinic J. Hatieganu, Department of Plastic and Reconstructive Microsurgery. Professor Dr. Alexandru  Georgescu; Cluj-Napoca, Romania.</li>
</ul>
<h3>EDUCATION</h3>
<ul>
<li>	2010 November PhD of Medical Sciences.</li>
<li>	2009 March Plastic and Reconstructive Surgery Consultant  confirmation exam.</li>
<li>	2003 March Confirming Diploma of Specialist in Plastic and Reconstructive Microsurgery (general average 9.40 out of 10).</li>
<li>	1997 University of Medicine and Pharmacy Iuliu Hatieganu, Cluj-Napoca (licence average  9.48 out of 10).</li>
<li>	1990 Graduation High school.</li>
</ul>
<h3>SPECIALIZATION COURSES AND  INTERNATIONAL  RESIDENCIES</h3>

<ul>
<li>	2015 November – surgeon volunteering at LEAP mission in Amman </li>

<li>	<b>2014</b><ul><li>October The International Open Rhinoplasty Course, Sinaia, Romania </li>

<li> March The IV th Open RhinoplabstyCourse. Bergamo.</li>
	</ul>
	</li>
<li>	<b>2012</b> <ul><li> April, Alexandria Rhinoplasty Live Surgery Felloship Hands on course; 
 Professor . H. Foda.
</li>
<li>March The III-rd Open Rhinoplasty Course;  BERGAMO, Italy.</li>
</ul></li>
<li>	<b>2011</b><ul><li> November  Breast Augmentation course; Dr. Mayo, Bucharest, Romania.</li>
<li> May  Advanced Course for Functional and Aesthetic Rhinoplasty; Stuttgart, Germany.</li>
</ul></li>
<li>	2010 November   PhD  “Viva” session (oral PhD exam).</li>
<li><b>2009</b>
			<ul>
<li> March: The II-nd Open Rhinoplasty Course, Bergamo, Italy.</li>
<li>April: Course of liposculpture, D. W.WU; Singapore.</li>
<li>   July Aesthetic Surgery II DP; Bucharest, Romania</li>


</ul></li>
<li>	<b>2008</b>  <ul><li> September The III-rd International Course of the Hand  Surgery and Hand Therapy; Cluj-Napoca, Romania</li>

        <li>  March  The II-nd Open Rhinoplasty Course, Bergamo, Italy.</li></ul></li>

<li>	2007   June Body Contouring Masterclass at 14th  IPRAS  International Congress; Berlin,      Germany.
   June Rhinoplasty Masteclass at 14th IPRAS International Congress; Berlin, Germany.
</li>
<li>	2006  June   Postgraduate ISAPS San Servolo; Venice,Italy.</li>
<li>	2005  September  Practical Live Aesthetic Surgery course; Saint –Petersburg, Russia.</li>
<li>	2004   April  International Practical Course ”Free tissue transfers”; Cluj-Napoca, Romania.</li>
<li><b>2003</b><ul>
	<li>March: Examina and recognition of Specialisation in Plastic and Reconstructive Microsurgery. University  I. Hatieganu, Cluj-Napoca, Romania </li>
	<li>           April   Practical Course “ Free tissue transfers;  Cluj-Napoca, Romania.</li>
	<li>                        October  Practical course “Breast reconstruction”  Timisoara, Romania.</li>
	<li>            November: Admission to PhD work “New preoperative and operative methods in pressure sores ”. Main topic –  Perforator Flaps, Pulsed Galvanic Stimulation.</li>
</ul></li>
<li>
	<p><b>2002</b></p>
	<ul>
		<li>
		   January – February: Practice as invited registrar at Plastic Surgery Dept. Royal Hospital London Whitechapel Consultant Dr. M. Shibu; London, U.K.
		</li>
       <li> 
	       November: International practical course “Flap surgery”; Timisoara, Romania
	   </li>
	</ul>
</li>

<li>	2001 February Course: “Present concepts in traumatic hand-surgery”; Cluj-Napoca, Romania.</li>
<li>	2000 stage at the Traumatology Dept. of KAPU Hospital, Miskolc, Hungary; 
Consultant Dr. Zsolt  Szabo.
</li>
<li>	1999 Residence Practice in Plastic Surgery Department in Centre Hospitalier Universitaire Vaud Lausanne; Switzerland, Prof. Dr. Daniel  Eglof.</li>
</ul>

<h3>PUBLICATIONS AND CONGRESSES</h3>

<ul>
<li>	2015 September 17-20, BAPRAS Congress, Thessaloniki. First and presenting author “ Medial crura steal in nasal deprojection”</li>
<li>	2015 July ISAPS News Letter Journal, vol 9, Nr 2 First and presenting author "The Surgical treatment of decubitus lesions"</li>
<li>	2014 October  The National Conference of ACPR First and presenting author “Pitfalls in nose deprojection"”</li>
<li>	2013October  The National Conference of ACPR First and presenting author “Medial Crura Steal in open Rhinoplasty"</li>
<li>	2011 October  The National Conference of ACPR First and presenting author  “Auto-spreader grafts in open rhinoplasty”, “Spreading technique in hyaluronic acid injections” </li>
<li>	2010 March main author “Perforating flap for oncological reconstruction” , First and presenting author Military Hospital Symposium, Cluj-Napoca.</li>
<li>	2010  February Invited Speaker at “Female Cosmogenital Surgery” Workshop, Bhopal , India.</li>
<li>	2009<ul>
	<li> December – First and presenting author “RF vagina tightening” IPRAS, New Deli, India.</li>
	<li>May co-author Melanoma Congress- the 5th Dermatology-Oncology European Association; (‘Congres de melanom – al 5 congres al asociatiei europene de dermatologie-oncologie’), Paris, France.</li>
	</ul>
</li>
<li>	2008<ul>
	<li> <p>November The 10th  International Congress of The Romanian Plastic Surgeons; Bucharest, Romania.</p>
	<p>                              Presenter and main author “PGS and surgical pressure ulcers treatment”</p>
	<p>                              Presenter and main author “ Minimally invasive RF surgical technics”.</p>
	</li>
	<li>          February Main author “PGS and surgical pressure sore treatment “,  Military Hospital symposium. </li>
	</ul>
</li>

<li>	  2008<ul><li>  <p> October National Conference of Dermatology ;Sibiu, Romania </p>
	<p>“Cross-finger flap repair of defects in a suspected nail melanoma “</p>
	<p> “Endogenous collagen for  malformed ears shaping “</p>
	<p> “Hypertrophic scars complex treatment – case study”</p>
</ul>
</li>
<li>	2007<ul>
	<li>December –“Investigations and treatment guide'' Cristodor P., Vidraşcu A.,Popovici M., Blăja R., Muntean D.(Original Title ‘’Dermatologie practică. Diagnostic clinic. Ghid de investigaţii şi tratament’’ Editura Libra  Bucureşti , ISDN 978-973-7633-58-3)</li>
<li>October Elected as  EPUAP ( European Pressure Ulcer    Advisory Panel)Trustee. </li>
<li>September -Vidraşcu A, Georgescu A.’’ New prevention and treatment methods for bedridden patients; Clujul Medical, vol. LXXX. nr2.</li>
<li>September Vidraşcu A, Georgescu A. ‘’PGS in pressure sore treatment”; Clujul Medical, vol. LXXX. nr2.</li>
<li>June Main Author “Perforating flaps in pressure sore plastic surgery” IPRAS Congress; Berlin, Germany.</li>	
</ul>
</li>
<li>	2006 September Main Author “The Galvanic Pulsations Stimulations associated to the plastic surgery treatment of the decubitus lesions”; 9th European Pressure Ulcer Advisory Panel open meeting; Berlin, Germany.</li>
<li>2005<ul>
<li>September International Conference of Plastic, Reconstructive and Aesthetic Surgery; Saint-Petersburg, Russia.</li>
<li><p>June  Odesssa, Ukraine.</p>
   <p>  Main Author: “PGS and surgical treatment” International Congress of Aesthetic Surgery;         Odessa, Ukraine.</p>
   <p>  Main Author : “ Lipotomy”. </p>
   </li>
<li>May  National Congress of Aesthetic Surgery; Bucharest, Romania. </li>
</ul></li>
<li>	2003 May  Main Author :”Pulsed Galvanic Stimulation and pressure sore surgical treatment “ National Congress of Plastic Surgery; Sinaia, Romania.</li>
<li>	2002 October Joint Author of several papers presented at the “4th  National Congress of Hand Surgery”, Bucharest, Romania.</li>
<li>	2001 <ul><li>August  Joint Author “Free tissue transfers in traumatology” presented at the National Plastic Surgery Congress in Sinaia, Romania.</li>
<li>May: Patent Nr. 116704/OSIM (Lotion for external cosmetic use).</li></ul></li>
<li>	2000 May Joint Author “New perspectives in brachial plexus palsy” in International Microsurgery Congress in Iasi, Romania.</li>
<li>	1999 Joint Author “Free osteo-muscular serratus anterior flap in thumb reconstruction” – Romanian Journal of hand and Reconstructive Microsurgery.</li>
</ul>

<h3>PUBLICATIONS AND FACULTY</h3>

<p>Vidraşcu A, Georgescu A. "The Galvanic Pulsatile Stimulations
associated to the plastic surgery treatment of the decubitus
lesions. Clujul Medical, vol. LXXX. nr2.</p>

<ol>

<li>2015 July ISAPS News Letter Journal, vol 9, Nr 2 First and presenting author "The Surgical treatment of decubitus lesions"</li>
<li>	Abstract Corner presentation at III-rd Bergamo Open Rhinoplasty Course: “Autospreader flsaps saving time, septum resources and dorsum width in selected cases”, 1-3 March, 2012</li>
<li>	Oration at the 27th Annual Conference of M.P. State Chapter 19-21 Feb, 2010; Bohpal, India.</li>
<li>	Faculty at Workshop on Female Cosmogenital Surgery, February, 19th, 2010 Gahndi Medical College, Bhopal, India.</li>
<li>	Resvista Scientia Parasitologia “Demodex folliculorum In dermatology” Patricia Cristodor, Smaranda Rodica Goiia, Marinela Popovici,  Smaranda Laura Goiia, Argentina Vidrascu, Oana Jurotovici,  Doina Niiu, Caius Solovan, 2008 – Vol. 9 – Nr.</li>
<li>	Patricia Cristodor, Argentina Vidraşcu,Marinela Popovici, Danina Muntean, Romaniþa Glãja” Practical Dermatology“ ISBN 13: 978-973-7633-58-3, 2007,  11.5, 428-430</li>
<li>	Vidraşcu A, Georgescu A. “ Bed bounded patients: profilaxie and treatament “. Clujul Medical, vol. LXXX. nr2.</li>
<li>	Vidraşcu A, Georgescu A. “The Galvanic Pulsatile Stimulations associated to the plastic surgery treatment of the decubitus lesions. Clujul Medical, vol. LXXX. nr2.</li>
<li>ACPR, ISAPS, BAPRAS, NATIONAL HAND SURGERY AS - vicepresident 2015</li>

</ol>
<h3>REFERENCES</h3>
<ol>
<li>Professor Dr. Alexandru Georgescu head of  Plastic and Reconstructive Microsurgery Dpt. UMF Cluj Napoca, Romania, BAPRAS general secretary
<p>geordv@hotmail.com</p>
<p>+40722575963</p></li>
<li>As. Professor Dr. Dana Jianau ISAPS National Secretary
jianu.dana@asociatiachirurgilorplastici.ro
+40722208071</li>
</ol>
<h3>LANGUAGES</h3>
<p><strong>Romanian</strong> - native language;</p>
<p><strong>English</strong> – writing and speaking -2007 June, IELTS Test </p>
<p><strong>French</strong> - writing and speaking,</p>
<p><strong>Russian</strong> - writing and speaking,</p>
<p><strong>Arabic</strong> - conversational</p>

</div>
<div class="work_bottom"><a href="#contact" class="contact_btn">Contacteaza-ne</a> </div>       
	   </div>
      	
      </div>
	  
      
    </div>
  </div> 
  </div>
</section>
<!--Aboutus--> 
