<!--Service-->
<section  id="service">
  <div class="container" ng-controller="loginController">
   	<button id="logoutButton" class="btn" style="float:right;" ng-click="logout()">Logout</button>
    <h2>Welcome Argentina Vidrascu</h2>
    <div class="service_wrapper">

      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
			<a href="./#/admin/password">
					<div class="service_icon delay-03s animated wow  zoomIn"> <span><img src="img/key.png"/></span> </div>
					<h3 class="animated fadeInUp wow">Change Password</h3>
			</a>

		  </div>
        </div>
        <div class="col-lg-4 borderLeft">			
          <div class="service_block">
		  	<a href="./#/admin/images">
				<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><img src="img/allphotos.png"/></span> </div>
				<h3 class="animated fadeInUp wow">View All Photos</h3>
            </a>
		</div>
        </div>
		<div class="col-lg-4 borderLeft">			
          <div class="service_block">
			<a href="./#/admin/upload">
				<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><img src="img/uploadImg.png"/></span> </div>
				<h3 class="animated fadeInUp wow">Upload Photos</h3>
            </a>
			</a>
		  </div>
        </div>
      </div><br/>
	  </div>
  </div>
</section>
<!--Service-->