<div ng-controller="loginController">
	<input type="password" class="form-control" placeholder="Old password" ng-model="changePasswordInfo.oldPassword" placeholder="password" required />
	<input type="password" class="form-control" placeholder="New password" ng-model="changePasswordInfo.newPassword" placeholder="password" required />
	<input type="password" class="form-control" placeholder="Confirm new password" ng-model="changePasswordInfo.confirmPassword" placeholder="password" required />
	<button id="changePasswordButton" class="btn" ng-click="changePassword()">Change Password</button>
	<button id="logoutButton" class="btn" ng-click="logout()">Logout</button>
</div>

<div>
	<input type="file" file-model="before"/>
	<input type="file" file-model="after"/>
	<select ng-model="type">
		<option value="gogol">Nasul lui Gogol</option>
		<option value="incovoiat">Nas incovoiat</option>
		<option value="lung">Nas lung</option>
		<option value="posttraumatic">Nas posttraumatic</option>
		<option value="reoperat">Nas reoperat</option>
	</select>
	<button ng-click="uploadFile()">Upload</button>
</div>

<div>
	<ul>
	  <li ng-repeat="photo in allPhotos">
		<img ng-src="{{photo.path}}" height="100" width="100"/>
		{{photo.filename}} <button ng-click="deleteFile(photo.filename)">Delete</button>
	  </li>
	  <li ng-if="allPhotos.length == 0">
		<strong>No results found...</strong>
	  </li>
	</ul>
</div>

