<style>
#btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
	text-color:black;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	float:right;
}
</style>
<section id="contactUs">
<div class="inner_wrapper">
  <div class="container">
  <h2><strong>{{'CONTACT' | translate}}</strong></h2>
  <div id="contactInfo" style="width:50%;" class=" delay-01s animated fadeInDown wow animated"></br>
	             <h3>Clinica de Chirurgie Estetica</h3>
				 <h3>Chirurgie Reparatorie</h3>
				 <h3>Medicina Estetica</h3>
				
		
		    	<p>Tel: 0264-35-35-66; 0743-555-476</p>
				<p>Cluj-Napoca</p>
				<p>doctorvidrascu@gmail.com</p><br/>
	<div> 
		<b><button type="button" id="btn"onclick="redirect()">Consultatie Online</button></b>
	</div>
			</div>

  <div id="contactMap" style="width:30%;margin-right:2%"  class=" delay-01s animated fadeInDown wow animated">
	 <h2 style="float:left;"><i><strong>Parteneri</strong></i></h2><br/><br/><br/><br/>
	 <p><a href="https://www.generali.ro/"><img src="../img/generaliAsigurari.jpg"style="width:300;height:50;"/></a></p><br/>
	 <p><br/>
	 <p><a href="http://www.ancaignat.ro"><img src="../img/ancaIgnat.jpg"style="width:300;height:50;"/></a></p><br/>
	 </p>
</div>
</div>

</section>	
<script>
function redirect(){
window.location.href="./#/consultatie"
}
</script>