<section  id="service">
  <div class="container">
    <h2>Alte Interventii</h2>
    <div class="service_wrapper">
	   <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
			<a href="./#/interventie1">
					<div class="interventii_icon delay-03s animated wow  zoomIn"> <span><img src="img/interventiePng.jpg"/></span> </div>
					<h3 class="animated fadeInUp wow">Interventii Chirurgicale</h3>
				</a>
        </div>	
		</div>
		  <div class="col-lg-4 borderLeft">	
          <div class="service_block">
		  	<a href="./#/articol1">
				<div class="interventii_icon icon2  delay-03s animated wow zoomIn"> <span><img src="img/articles.png"/></span> </div>
				<h3 class="animated fadeInUp wow">Articole</h3>
            </a>
			</div>
			</div>
		<div class="col-lg-4 borderLeft">	
		 <div class="service_block">
		  	<a href="./#/misiuni">
				<div class="interventii_icon icon2  delay-03s animated wow zoomIn"> <span><img src="img/umanitare.jpg"/></span> </div>
				<h3 class="animated fadeInUp wow">Misiuni Umanitare</h3>
            </a>
			</div>
		</div>
        </div>
	   </div>
	   </div>
	   </div>
</section>
<!--Service-->