<!--Service-->
<section  id="service">
  <div class="container">
    <h2>Diverse</h2>
    <div class="service_wrapper">
      <div style="align:center;">
        <div class="col-lg-4">
          <div class="service_block">
			<a href="./#/interventie1">
					<div class="service_icon delay-03s animated wow  zoomIn"> <span><img src="img/nasIncovoiat.png"/></span> </div>
					<h3 class="animated fadeInUp wow">Interventii Chirurgicale</h3>
				</a>
		  </div>
        </div>
        <div class="col-lg-4 borderLeft">			
          <div class="service_block">
		  	<a href="./#/articol1">
				<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><img src="img/nasGogol.png"/></span> </div>
				<h3 class="animated fadeInUp wow">Articole</h3>
            </a>
			</div>
        </div>
	     </div>
	   </div>
  </div>
</section>
<!--Service-->