<section id="home">
<div class="inner_wrapper">
	<div class="container">
		<div class="inner_section">
			<div class="row">
			  <div class=" col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
				   <iframe class="img-circle delay-03s animated wow zoomIn"  
					width="100%" height="35%" src="http://www.youtube.com/embed/dmCXO9Jm7V4?modestbranding=1&autohide=1&showinfo=0" 
					frameborder="0" allowfullscreen></iframe>
				</div>
				<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
					<div class=" delay-01s animated fadeInDown wow animated">
					 <p><h2><strong>Dr. Argentina Vidrascu</strong></h2></p>
					 <p ng-bind-html="'HOME_DETAILS' | translate"></p>
				</div>
				<br/>
				<br/>
				<a href="./#/services" class="read_more2">{{'GO_TO_SERVICES' | translate}}</a>
				</div>	  
			</div>     	
		</div> 
	</div>
</div> 
</div>
</section>
<!--Aboutus--> 
