<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>Indicatii Generale</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right"><img src="img/about-img.jpg" class="img-circle delay-03s animated wow zoomIn" alt=""></div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
				<h3>Nas Lung</h3><br/> 
				<p>
					Principala caracteristica a acestui tip de nas este septul si
					varful lungi.
				</p>
				<p>	
					Se parcurg toate etapele necesare descrise la nasul incovoiat.
					In plus, se aplica scurtarea septului, micsorarea cartilajelor
					narinare, ridicarea varfului.
				</p>
				<p>
					E foarte important sa fie rectificata, in acelasi timp operator,
					si deviatia de sept.
				</p>
			</div>
		</div>
  </div>
 </div>  
    </div>
  </div> 
</section>
