<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>Indicatii Generale</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <div class=" delay-03s animated fadeInDown wow animated">
				<span>
					<p><strong>
					Consultatie on-line
					</strong><br/>
					<b>Pasul unu:</b> trimiteti imagini foto fata si profile la adresa doctorvidrascu@gmail.com si veti primi un raspuns daca puteti fi ajutat
					<b>Pasul doi:</b> Programarea telefonica pentru prima consultatie la unul din nr. de telefon:
					<p>0264 - 353 566</p>
					<p>0743 - 555 476</p>
					<p>0743 - 55 LIPO.</p>
				<p>Programarea din timp va va ajuta sa obtineti, daca doriti, o anumita data.
				</span>
		</div>
		</div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
			<p><strong>Indicatii generale</strong></p>
				<p>Dr. Argentina Vidrascu este chirurg plastician specializat in
					septorinoplastie deschisa-80% din interventiile chirurgicale
					efectuate sunt&nbsp; pentru corectia nasului.
				</p>

				<p>Este foarte important ca chirurgia nasului sa includa si
				tratamentul deviatiei de sept cu pozitionarea piramidei osoase pe
				linia mediana pentru obtinerea unui rezultat predictibil, stabil,
				armonios si fara probleme de respiratie.<br>
				 Pacientul care doreste sa beneficieze de corectia estetica a
				nasului ar trebui sa stie ca, deseori, este necesara si a doua sau
				chiar a treia interventie pentru obtinerea unui rezultat bun. Prin
				urmare, astfel se explica de ce aceste interventii sunt efectuate
				anume de catre chirurgul rhinoplastic.</p>

				<p>&nbsp;</p>

				<p><strong>Tot procesul decurge astfel.</strong></p>

				<p>O prima consultatie in cu ocazia careia se examineaza septul,
				respiratia&nbsp; pe narine, starea piramidei osoase, a cartilajelor
				si tegumentului regiunii nazale.&nbsp; Pacienta/pacientul isi
				expune EXACT defectele care doreste sa le corecteze si prioritatea
				acestora deoarece s-ar putea ca nu toate sa poata fi
				remediabile.&nbsp; E important ca pacientul sa fie echilibrat
				pentru a beneficia de rhinoplastie, deoarece aceasta este o
				interventie&nbsp; extrem de laborioasa, de mare precizie, dificil
				de executat si cu un impact mare asupra imaginii . In mod normal,
				medicul refuza un pacient care are asteptari nepotrivite,&nbsp; nu
				este motivat, nu stie exact ce schimbare sau ameliorare doreste,
				este nehotarat sau spera sa rezolve anumite probleme din viata
				personala cu ocazia operatiei.&nbsp; Pe parcursul acestei
				intrevederi i se aduc la cunostinta si riscurile, efectele adverse,
				conduita postoperatorie si perioada de recuperare.</p>

				<p>La consultatia preoperatorie&nbsp; se preiau imaginile foto ale
				pacientului pentru stabilirea exacta a planului operator:
				modificarile estetice si functionale . Se completeaza diagrama cu
				modificarile presupuse atat pe sept cat si pe piramida.</p>

				<p>Rhinoplastia deschisa se poate efectua in bune conditii doar cu
				anestezie generala. Pacientul in dimineata interventiei nu va
				consuma deloc alimente lichide si solide. Interventia dureaza
				1,5-2,5 h ,&nbsp; cu minima cicatrice- in functie de modificarile
				necesare.&nbsp; Uneori, se poate efectua si septorinoplastia
				inchisa pentru mici retusuri. Postoperator, pacientul ramane
				internat in clinica, sub supravegherea medicului anestezist. Daca
				evolutia este favorabila, a doua zi postoperator se extrag
				tampoanele intranazale ( manevra care provoaca disconfort) si se
				externează pacientul cu indicatiile postoperatorii, inscrise in
				biletul de iesire.<br>
				 Urmatoarea vizita la clinica se stabileste la 5-7 zile, cand se va
				suprima atela si pansamentul. Firele se scot la 7 zile pentru a
				lasa minima cicatrice. Vanataile de la nivelul pleoapelor persista
				7-10 zile, iar inflamatia - câteva luni.<br>
				 Rezultatul final se instaleaza la, aproximativ, un an.</p>

				<p>Complicatii posibile: asimetrii, denivelari ale piramidei
				nazale, deformarea septului sau narinelor cu dificultati
				respiratorii, infectie, rhinita vasomotorie. Uneori rezultatul
				imediat postoperator pare a fi favorabil, dar tegumentul se poate
				retracta in timp deformand linia cartilajelor nazale. Mai exista si
				complicatiile deloc de neglijat ale oricarei anestezii generale
				printre care chiar si moartea subita. Asfel, rhinoplastia este o
				interventie chirurgicala care trebuie efectuata doar in cazuri in
				care este absolut necesara de catre chirurg rhinoplstic.</p>
					</div>
				</div>
			</div>
		 </div>
	</div> 
</div> 
</section>
