<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>{{'GENERAL_ADVICE' | translate}}</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <div class=" delay-03s animated fadeInDown wow animated">
				<span>
					<p ng-bind-html="'ONLINE_CONSULTATION' | translate"></p>
				</span>
		</div>
		</div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
				<p ng-bind-html="'GENERAL_ADVICE_DETAILS' | translate"></p>
			</div>
		</div>
	</div>
	</div>
	</div> 
</div> 
</section>
