<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>{{'INTERVIEWS' | translate}}</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
	  	<p><strong>Celule stem riduri/lipofilling:</strong></p><br/><br/><iframe width="100%" height="50%" src="http://www.youtube.com/embed/yAyoTGIvO-A" frameborder="0" allowfullscreen></iframe>	
		<p><strong>Lipofilling/celule stem riduri, vagina firming:</strong></p><br/><iframe width="100%" height="50%" src="http://www.youtube.com/embed/wl498PBovgA" frameborder="0" allowfullscreen></iframe>
		<p><strong><strong>Vagina firming/tonus vaginal:</strong></p><br/><iframe width="100%" height="50%" src="http://www.youtube.com/embed/R-G2Oo7N5D0" frameborder="0" allowfullscreen></iframe>
		<p><strong>TRANSILVANIA LA ZI </strong></p><br/><iframe width="100%" height="50%" src="http://www.youtube.com/embed/AWcAnLyRsKM" frameborder="0" allowfullscreen></iframe>

			
	</div>
	   	<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
			<p><strong>Lipofilling .Stem cells/celule stem face lift/ mamar augmentation:</strong></p><br/>  <br/><iframe width="100%" height="50%" src="http://www.youtube.com/embed/eaGrv33d9O4" frameborder="0" allowfullscreen></iframe>
			<p><strong>Reducere studenti:</strong></p><br/><iframe width="100%" height="50%" src="http://www.youtube.com/embed/_IE_Xw9EeWc" frameborder="0" allowfullscreen></iframe>
			<p><strong>Chirurgia estetica. Riscuri si beneficii:</strong></p><br/><iframe width="100%" height="50%" src="http://www.youtube.com/embed/2lZ0lm747eE" frameborder="0" allowfullscreen></iframe>
			<p><strong>Leacuri hapuri si pilule. Frumusete</strong></p><br/><iframe width="100%" height="50%" src="http://www.youtube.com/embed/jLNP8S8f0Fw" frameborder="0" allowfullscreen></iframe>
	
		</div>
		</div>
  </div>
 </div>  
     </div>
  </div> 
</section>
