<!--Service-->
<section  id="service">
  <div class="container">
    <h2>Services</h2>
    <div class="service_wrapper">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
			<a href="./#/incovoiat">
					<div class="service_icon delay-03s animated wow  zoomIn"> <span><img src="img/nasIncovoiat.png"/></span> </div>
					<h3 class="animated fadeInUp wow">Nas Incovoiat</h3>
					<p class="animated fadeInDown wow">Acest tip de nas reprezinta combinatia dintre nasul lung si cel incovoiat ( hispanic).</p>
			</a>

		  </div>
        </div>
        <div class="col-lg-4 borderLeft">			
          <div class="service_block">
		  	<a href="./#/gogol">
				<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><img src="img/nasGogol.png"/></span> </div>
				<h3 class="animated fadeInUp wow">Nasul lui Gogol</h3>
            </a>
			<p class="animated fadeInDown wow">Acest tip de nas reprezinta combinatia dintre nasul lung si cel incovoiat ( hispanic).</p>
          </div>
        </div>
		<div class="col-lg-4 borderLeft">			
          <div class="service_block">
			<a href="./#/posttraumatic">
				<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><img src="img/nasPosttraumatic.png"/></span> </div>
				<h3 class="animated fadeInUp wow">Nas Posttraumatic</h3>
            </a>
			<p class="animated fadeInDown wow">Acest tip de nas reprezinta combinatia dintre nasul lung si cel incovoiat ( hispanic).</p>
			</a>
		  </div>
        </div>
        <div class="col-lg-4 borderLeft">
          <div class="service_block">
			<a href="./#/reoperat">
				<div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><img src="img/nasReoperat.png"/></span> </div>
				<h3 class="animated fadeInUp wow">Nas Reoperat</h3>
			</a>
			<p class="animated fadeInDown wow">Acest tip de nas reprezinta combinatia dintre nasul lung si cel incovoiat ( hispanic).</p>          </div>
        </div>
      </div>
	   </div>
  </div>
</section>
<!--Service-->