<!--Service-->
<section  id="service">
  <div class="container">
    <h2>{{'SERVICES' | translate}}</h2>
    <div class="service_wrapper">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
			<a href="./#/incovoiat">
					<div class="service_icon delay-03s animated wow  zoomIn"> <span><img src="img/nasIncovoiat.png"/></span> </div>
					<h3 class="animated fadeInUp wow">{{'CROOKED_NOSE' | translate}}</h3>
			</a>

		  </div>
        </div>
        <div class="col-lg-4 borderLeft">			
          <div class="service_block">
		  	<a href="./#/gogol">
				<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><img src="img/nasGogol.png"/></span> </div>
				<h3 class="animated fadeInUp wow">{{'GOGOL_NOSE' | translate}}</h3>
            </a>
		</div>
        </div>
		<div class="col-lg-4 borderLeft">			
          <div class="service_block">
			<a href="./#/posttraumatic">
				<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><img src="img/nasPosttraumatic.png"/></span> </div>
				<h3 class="animated fadeInUp wow">{{'POSTTRAUMATIC_NOSE' | translate}}</h3>
            </a>
		</div>
        </div>
        <div class="col-lg-4 borderLeft">
          <div class="service_block">
			<a href="./#/reoperat">
				<div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><img src="img/nasReoperat.png"/></span> </div>
				<h3 class="animated fadeInUp wow">{{'REOPERATED_NOSE' | translate}}</h3>
			</a>
		</div>
        </div>
      </div>
	   </div>
  </div>
</section>
<!--Service-->