<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>Atenuare riduri cu Botox</h2>
    <div class="inner_section">
	<div class="row">
     	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
		<p>Ridurile de expresie si-au facut aparitia mai mult decat ti-ar
placea sa vezi in reflexia din oglinda. In functie de lumina, de
machiaj, de ora din zi sau din noapte, de oboseala Incepe sa se
observe o retea de riduri, deocamdata foarte fine, in jurul
ochilor, pleoapele par sa cada, desi iti tii ochii larg deschisi,
apar pungi sau cearcane vinete sub ochi. Ai aplicat comprese, crème
si fond de ten. Efectul dispare la fiecare demachiere si oricum nu
poti merge tot timpul si oriunde cu straturi de pudra pe fata. Nici
o problema. Solutia este simpla. <strong>Microinjectiile</strong>
cu <strong>DYSPORT</strong> sau cu <strong>BOTOX</strong>.</p>

<p>Cand apelati insa la acest tip de tratament trebuie sa va
asigurati ca medicul care vi-l va face este intr-adevar un bun
profesionist. Toxina botulinica are un efect de intindere a pielii
si astfel de indepartare a ridurilor. Microinjectiile trebuie
facute insa corect, iar dozajul solutiei trebuie sa fie perfect
potrivit tipologiei dumneavoastra. Daca se respecta aceste
indicatii si tratamentul se face intr-un spatiu steril, efectul va
va incanta cu siguranta. Veti obtine o privire luminoasa si o
expresie incantatoare. Efectul este garantat pentru o perioada de 6
pana la 8 luni. Nu se obtine insa doar o intindere a pielii, ci si
conservarea ei. Cand efectul de BOTOX va trece pielea va fi ca
inainte, fara a se vedea ca intre timp s-au mai scurs cateva luni
bune de viata.</p>

<p>Microinjectarile sunt nedureroase, deoarece se aplica un gel
anesteziant la nivelul punctelor de injectare. Dupa efectuarea
tratamentului, timp de patru ore, pacientul nu are voie sa se
intinda la orizontala, in schimb este recomandata efectuarea unor
exercitii de mimica - vorbit, ras, strambaturi.</p>

<h3>Schema terapeutica:</h3>

<ul>
<li>O sedinta de indepartare a ridurilor dureaza: <em>15
min</em></li>

<li>Efectul vizibil: <em>in 4-6 zile de la injectare</em></li>

<li>Posibile reactii adverse: <em>asimetrie</em></li>

<li>Mentinere rezultat: <em>6 luni</em></li>
</ul>


	   </div>  	
      </div>
	  	   <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p>
	  <p>
	 <a href="./#/interventie1">Reconstructie vagin</a></p>
	  	    <a href="./#/interventie9">Rejuvenare vaginala</a></p>
		  	  <p><a href="./#/interventie3">Atenuare riduri cu acid Hialuronic</a></p>
			  	  <p><a href="./#/interventie4">Marire buze</a></p>
				  	  <p><a href="./#/interventie5">Atenuare cearcane - "Umplerea" cearcanelor</a></p>
					  	  <p><a href="./#/interventie6">Implant mamar</a></p>
						  	  <p><a href="./#/interventie7">Lipofilling</a></p>
							  	  <p><a href="./#/interventie8">Micsorare labii</a></p>
	 
	  </div>
</div>
  </div> 
  </div>
</section>
<!--Aboutus--> 
