<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
	<h2>Sculptra</h2>
    <div class="inner_section">
	<div class="row">
      
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
<p>Tocmai a intrat in cabinetul de consultatii o doamna eleganta,
asortata, supla si …cu un nas "gogolian". Se poate citi in
privirile ei ca ar face orice sa schimbe acest profil. "Deja nu ma
mai deranjeaza faptul ca trecatorii intorc privirea dupa nasul meu
(rade), dar problema majora este ca nu ma pot angaja la un loc de
munca mai elegant - toate sperantele se spulbera la aparitia
nasului meu".</p>

<p>Acest caz nu este unic. Fie ca posesorul nasului gogolian este
femeie sau barbat, viata este influentata de aspectul mai mult sau
mai putin cocosat al nasului. Acesta nu poate fi ascuns sub o
haina, fard sau modelat prin sport. Interesant e ca in tarile
musulmane, rhinoplastia este cea mai frecventa interventie
chirurgicala estetica la femei. Este absolut evident ca nasul
reprezinta una dintre piesele centrale ale fizionomiei. Schimbarea
acestuia poate influenta foarte mult viata sociala ale individului.
Dar de cele mai multe ori, nasul "coroiat" este asociat cu deviatia
de sept.</p>

<p>Rezultatul cel mai bun este obtinut daca chirurgul plastician va
lucra in echipa cu un chirurg ORL sau daca are abilitatile si
instrumentarul necesare chirurgiei septului nazal. Prin urmare, se
poate obtine un nas funtional si aspectuos numai daca se va efectua
operatia complexa de septorhinoplastie.</p>

<h2>Ce este deviatia de sept nasal?</h2>

<p>Este o afectiune caracterizata prin dificultate in respiratia
nazala. Se datoreaza modificarii de pozitie a septului nazal,
congenital sau posttraumatic cu efect obstructiv in calea
curentului de aer inspirator/expirator in interiorul nasului.
Deseori, factorul obstructiv poate fi agravat de prezenta unor
afectiuni asociate (rinite cronice, sinuzite, otite, alergii,
polipoze) care transforma indicatia operatorie de principiu
intr-una imperioasa.</p>

<h2>Cand trebuie operata deviatia de sept nasal ?</h2>

<p>In situatia unei obstructii nazale permanente, ireductibile.</p>

<p>In cazul unor complicatii de vecinatate: otita medie seroasa,
sinuzita.</p>

<p>In cazul implicarii obstructiei nazale in mecanismul sforaitului
(cu sufocare in somn)</p>

<h2>Ce trebuie sa stiu despre operatie?</h2>

<p>Operatia consta in indepartarea sau remodelarea portiunilor de
schelet osteocartilaginos deviate, pana la calibrarea unui culoar
respirator suficient, si a unei bune cai de evacuare a secretiilor
nazale. Este realizata in totalitate in interiorul nasului, nu
raman cicatrici, nu se modifica forma exterioara a nasului
postoperator.</p>

<p>Laser-ul este inutil, si uneori chiar periculos datorita
riscului de sinechii (aderente) cu efect obstructiv. In chirurgia
endonazala laser-ul se foloseste de regula numai pentru tratamentul
rinitei hipertrofice, boala complet diferita.</p>

<h2>Ce etape se parcurg?</h2>

<p>Inainte de operatie: - trebuie sa informati medicul daca:</p>

<ul>
<li>Sinteti alergic la algocalmin, antibiotice sau orice alt tip de
medicament;</li>

<li>Efectuati diverse tratamente medicamentoase
(anticonceptionale,antidiabetice,antihipertensive,e.t.c.)</li>

<li>Starea fiziologica actuala (pentru femei)-ciclu menstrual,
sarcina.</li>
</ul>

<p><em><strong>Analizele de sange de care aveti nevoie pentru
operatie</strong></em>: hemolucograma, VSH, coagulograma, glicemie,
transaminaze hepatice, bilirubina, creatinina, uree, acid uric.</p>

<p>In dimineata recoltarii analizelor de sange <em><strong>nu
trebuie sa mancati, nu trebuie sa beti nimic</strong></em>.</p>

<p>Daca veti fi operat cu anestezie generala: <strong>radiografia
cord-pulmon, E.K.G., consult anesteziologic</strong>.</p>

<p><strong>Operatia</strong>:</p>

<ul>
<li>inainte de operatie <strong>nu trebuie sa mincati, nu trebuie
sa beti nimic, nu trebuie sa fumati</strong></li>

<li>dureaza cca. 60-90 minute;</li>

<li>se indeparteaza chirurgical portiunile septale cu efect
obstructiv, dupa care in cele doua fose nazale sunt plasate
tampoanele hemostatice speciale;</li>

<li><strong>anestezia:</strong> 

<ul>
<li>presupune o preanestezie cu rol de sedare (o injectie
imtramusculara, in fesa);</li>

<li>poate fi: 

<ul>
<li><strong>locala</strong> - sunteti constient in timpul
operatiei, dar nu va doare!</li>

<li><strong>totala (generala)</strong> - prin intubatie
oro-traheala - veti fi adormit pe toata durata operatiei, veti fi
trezit dupa incheierea acesteia</li>
</ul>
</li>
</ul>
</li>
</ul>

<p><strong>Dupa operatie</strong>: (veti sta in pat, cu capul usor
ridicat deasupra nivelului patului);</p>

<ul>
<li>timp de 24-48 de ore veti avea in nas doua tampoane
hemostatice; in acest timp veti respira numai pe gura si mentineti
repaosul vocal relativ;</li>

<li>va puteti deplasa la toaleta;</li>

<li>alimentatia-nu exista restrictii decit daca aveti in tratament
Dexametazona (la sare);</li>

<li>durata de spitalizare minima este de 24-48 ore (cit timp aveti
tampoanele in nas);</li>

<li>rareori se poate intampla sa varsati singele inghitit in timpul
operatiei(negricios), mai ales la anestezia totala;</li>

<li>tampoanele se scot dupa 24-48 ore, dupa o usoara anestezie, si
este nedureroasa;</li>

<li>nu aveti voie sa suflati nasul 3-4 zile; veti pune picaturi in
nas (Bixtonim)-3-4 pic. de 3-4 ori/zi, vitamina A uleioasa si ser
fiziologic pentru a inmuia crustele care in mod normal se formeaza
in nas postoperator;</li>

<li>dupa 2 zile, cand aveti voie sa suflati nasul, dupa toaleta
locala, veti pune in nas o crema cu efect cicatrizant
(Bepanthene);</li>

<li>tratamentul antibiotic, oral sau injectabil, dureaza 5
zile</li>
</ul>

<p><strong>La externare</strong>:</p>

<ul>
<li>puteti pleca din spital dupa minim 24 de ore;</li>

<li>evitati efortul fizic, baile fierbinti, infectiile
respiratorii,</li>

<li>regimul alimentar nu trebuie sa contina alimente fierbinti,
condimentate, iritante, bauturile carbogazoase, sucuri
acide(citrice), etc</li>

<li>repaus in casa 7 zile;</li>

<li>pentru detasarea crustelor intranazale ce se formeaza la
nivelul plagii operatorii este necesar sa toaletati cat mai des
nasul, si sa le inmuiati cu ajutorul serului fizilogic si al cremei
cicatrizante</li>

<li>respectati programarea controalelor postoperatorii;</li>

<li>vindecarea se produce in medie dupa aproximativ 10-14
zile.</li>

<li><em><strong>daca singerati este recomandabil sa va prezentati
la spital!</strong></em></li>
</ul>
	   </div>  	
      </div>
	  <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p><i>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	  <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	  <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	  <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	  <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
	  <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
     <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
	 <p><a href="./#/articol9"> Sculptra</a></p>
	 				 <p><a href="./#/articol10"> Sforaitul - Sindromul de apnee in somn</a></p>
					 	<p><a href="./#/articol11">Legendele Botoxului</a></p>
						<p><a href="./#/articol12">Atenuare riduri cu grăsime</a></p></i>
							
	  </div>
</div>
  </div> 
  </div>
</section>
<!--Aboutus--> 

