<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
  <h2>{{'BOTOX_MYTHS' | translate}}</h2>
    <div class="inner_section">
	<div class="row">
       	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
			<p ng-bind-html="'BOTOX_MYTHS_DETAILS' | translate"></p>
			</div>  	
      </div>
<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p>
		<p ng-bind-html="'READ_MORE_ABOUT' | translate" style="font-weight: bold"></p>
			<i>
			<p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
			<p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
			<p><a href="./#/articol3">Cine ţi-o lua cercei!</a></p>
			<p><a href="./#/articol4">Complicatiilor implanturilor mamare</a></p>
			<p><a href="./#/articol5">{{'WRINKLES_LUNCH_THERAPY' | translate}}</a></p>
			<p><a href="./#/articol6">{{'LARGE_MULTICENTER_STUDY_FEMALE_GENITAL_PASTIC_SURGERY' | translate}}</a></p>
			<p><a href="./#/articol7">{{'LEG_ULCERS' | translate}}</a></p>
			<p><a href="./#/articol8">{{'DEVIATED_SEPTUM_GOGOL_NOSE' | translate}}</a></p>
			<p><a href="./#/articol9">{{'SCULPTRA' | translate}}</a></p>
			<p><a href="./#/articol10">{{'SNORING' | translate}}</a></p>
			<p><a href="./#/articol11">{{'BOTOX_MYTHS' | translate}}</a></p>
			<p><a href="./#/articol12">{{'FAT_DEPOSITS' | translate}}</a></p>
			</i>
		</p>
	  </div>
	  </div>
 </div> 
  </div>
</section>