<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
  <h2>Legendele Botoxului</h2>
    <div class="inner_section">
	<div class="row">
       	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
<p>Atenuarea ridurilor prin injectarea cu toxina botulinica a
devenit deja o metoda frecvent uzitata de catre tot mai multe femei
si, chiar, pacienti barbati. Metoda de tratament este minim
invaziva - consta doar in microinjectari de substanta de o anumita
concentratie la nivelul unor zone a fetei sau gatului. <em>Toxina
botulinica</em> sau "<em><strong>Botox-ul</strong></em>" se mai
aplica pentru tratamentul transpiratiei excesive de la nivelul
axilei sau palmelor.</p>

<p>Principiul de actiune al substantei este urmatorul: blocarea
receptorilor de AcetilColina de la nivelul placilor
neuro-musculare. Adica nu se mai transmite impulsul nervos de la
nerv catre <strong>portiunea</strong> de muschi injectata. Prin
urmare, acea portiune de muschi nu se mai contracta. Este instalata
o paralizie de conducere temporara.</p>

<p>Interesant de aflat faptul ca se poate trata cu aceasta
substanta transpiratia excesiva (hiperhidroza) de la nivelul
axilelor (sub brat) si a palmelor. Sunt persoane care transpira
exagerat in palme sau la nivelul axilelor. Aceasta problema se
poate asana in 10 minute prin injectarea sub anestezie locala a
toxinei botulinice la nivelul glandelor sudoripare din zona
respectiva.</p>

<p>Problema este ca toata lumea afla detalii despre efectele
benefice ale acestei substante, mai putin despre posibilele efecte
adverse ale acesteia.</p>

<p>Cu ocazia Sarbatorilor de Iarna au crescut cererile pentru
tratamentul ridurilor cu toxina botulinica. Am constatat, insa, ca
a crescut si numarul pacientilor care au solicitatat consultatie in
Clinicile de Chirurgie Plastica pentru efectele adverse, neplacute,
ale injectarilor nejudicios facute cu Botox in cabinete de alt
profil. Toti pacientii care au apelat la un astfel de tratament,
bine'nteles, au avut diverse planuri pentru evenimentele de
socializare din perioada respectiva. Dar odata cu instalarea unor
complicatii, au fost nevoiti sa fie mai retrasi.</p>

<p>Doresc sa atentionez potentialii beneficiari ai metodei de
atenuare a ridurilor cu "Botox", sa aleaga cu grija specialistul
care urmeaza sa faca injectarea. Este mandatar faptul ca acesta sa
aiba prergatire de specialitate.</p>

<p>Desi metoda de injectare este relativ simpla, pot aparea o serie
de complicatii de la cele minore la cele majore.</p>

<p><em><strong>Efectele adverse minore</strong></em> sunt:
asimetria ridurilor restante, asimetria sprancenelor. Acestea pot
aparea chiar daca dozele si punctele de injectare au fost atent si
corect selectionate si pot fi usor ameliorate prin completare cu
doze mici de substanta injectata in anumite puncte.</p>

<p><strong>Efectele adverse medii</strong> sunt: accentuarea
cearcanelor, cumularea ridurilor pe fetele laterale ale nasului.
Acestea apar cand injectarea s-a facut in puncte care nu ar fi
trebuit a fi injectate. Ameliorare: cercanele se pot umple cu alta
substanta, astfel incat sa nu mai fie evidente. Ridurile de la
nivelul fetelor laterale a bazei nasului pot fi ameliorate prin
injectarea de doze mici de toxina.</p>

<p><em><strong>Efecte secundare majore</strong></em> sunt:</p>

<ul>
<li>"<em>caderea</em>" pleoapei superioare sau ptoza palpebrala
superioara situatie cand pacientul nu mai poate ridica complet
pleoapa superioara. Acest efect apare cand injectia s-a facut la
nivelul nervului supraorbitar.</li>

<li>"<em>caderea</em>" pleoapei inferioare; Atentie potentialilor
pacienti! Nu acceptati niciodata injectarea toxinei botulinice la
nivelul pleoapei inferioare! Ridurile localizate imediat sub genele
pleoapei inferioare nu dispar dupa injectarea cu toxina botulinica!
Acestea pot beneficia de alte tipuri de tratament.</li>

<li>"<em>facies blazat</em>", "<em>masca</em>", ras asimetric;
Aceste efecte apar in situatia in care substanta s-a injectat in
puncte gresit selectate. Nu acceptati injectarea substantei la
nivelul santului nazo-labial si langa buza superioara.</li>

<li>imposibilitatea de a fluiera. Acest efect apare in cazul in
care s-a injectat substanta la nivelul ridurilor radiare deasupra
buzei superioare. Cel mai indicat tratament pentru aceste riduri
sunt injectarile cu acid hialuronic de o anumita densitate in
anumite puncte de injectare si sub un anumit unghi.</li>
</ul>

<p>Toate efectele secundare enumerate pot fi evitate prin aplicarea
unui tratament cu doze mici si injectate in puncte atent
selectionate. Acest tip de tratament este folosit, inclusiv, la
tratamentul paraliziei spastice la copiii mici, iar in domeniul
estetic este aplicat de aproape 30 de ani. Prin urmare, sa-i dam
Caesarului cei al Caesarului! Atenuarea ridurilor prin acesta
metoda este una dintre cele mai eficiente si mai benefice pentru
pacient, dar cu conditia sa fie efectuat tratamentul intr-o clinica
specializata.</p>
			</div>  	
      </div>
<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p>
		<p ng-bind-html="'READ_MORE_ABOUT' | translate" style="font-weight: bold"></p>
			<i>
			<p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
			<p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
			<p><a href="./#/articol3">Cine ţi-o lua cercei!</a></p>
			<p><a href="./#/articol4">Complicatiilor implanturilor mamare</a></p>
			<p><a href="./#/articol5">{{'WRINKLES_LUNCH_THERAPY' | translate}}</a></p>
			<p><a href="./#/articol6">{{'LARGE_MULTICENTER_STUDY_FEMALE_GENITAL_PASTIC_SURGERY' | translate}}</a></p>
			<p><a href="./#/articol7">{{'LEG_ULCERS' | translate}}</a></p>
			<p><a href="./#/articol8">{{'DEVIATED_SEPTUM_GOGOL_NOSE' | translate}}</a></p>
			<p><a href="./#/articol9">{{'SCULPTRA' | translate}}</a></p>
			<p><a href="./#/articol10">{{'SNORING' | translate}}</a></p>
			<p><a href="./#/articol11">{{'BOTOX_MYTHS' | translate}}</a></p>
			<p><a href="./#/articol2">{{'FAT_DEPOSITS' | translate}}</a></p>
			</i>
		</p>
	  </div>
	  </div>
 </div> 
  </div>
</section>