<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
  <h2>Cine ţi-o lua cercei!...</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	  <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	   <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	    <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
		  <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
		  	  <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
			    <p><a href="./#/articol8"> Deviatia de sept si "Nasol lui Gogol"</a></p>
				<p><a href="./#/articol9"> Sculptra</a></p>
								 <p><a href="./#/articol10"> Sforaitul - Sindromul de apnee in somn</a></p>
								 	<p><a href="./#/articol11">Legendele Botoxului</a></p>
									<p><a href="./#/articol12">Atenuare riduri cu grăsime</a></p>
										
	 
	  </div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
			<p>De câte ori ne uitam in oglinda, noi femeile, cu o noua pereche
de cercei mari,frumosi, stralucitori si grei ar trebui sa tinem
cont ca aceştea, mai devreme sau mai tarziu ar putea atinge
genunchii.</p>

<p>Fenomenul se numeşte expandare tisulara, in acst caz"
intinderea" pielii la exercitarea unei tractiuni/ presiuni continui
asupra acesteia. Acest principiu este exploatat de chirurgia
plastica pentru excizia cicatricilor mari postarsuri.</p>

<p>In cazul cerceilor prea frumosi si prea grei purtati perioada
îndelungată se întâmpla acelaşi fenomen: <strong>expandarea
suprafetei punctului perforat</strong> de unde rezulta si
despicarea in doua sau chiar in trei fragmente ale lobului
auricular dacă se mai insistă cu cercei grei într-o altă perforare.
Acest mecanism de rupere a tegumentului este mai accentuat odată cu
vârsta când scade semnificativ elasticitatea pielii. Astfel, ne "
împodbim" cu un lob bilobat adică cu o ureche despicată.</p>

<p><strong>Măsuri de prevenire.</p></strong>

<p>Desigur, cerceii grei să-i purtăm cât mai rar și pentru perioade
cât mai scurte.</p>

<p>Dacă, totuși, s-a întâmplat fenomenul - se poate repara cu
ajutorul microchirurgiei aplicată de chirurgul plastician. <em>De
cea unume de un plastician?</em> Pentru că dacă nu se aplică un
principiu specific chirurgiei plastice, rămâne un șanț chiar dacă
lobulul urechii este cusut. Anestezia este locală, fiind aplicată
prin câteva injecții. Se aplică suturi cu fire foarte fine și se
reconstruiește o fantă discretă pentru suspentarea cercelului. Timp
de două săptămâini se poarta în locul cercelului un fir neted care
nu permite închiderea perforației. Mare atenție când pacienta se
piaptăna să nu agațe acest fir pentru ca, Aoleu! e foarte dureros
să tragi de el!</p>

<p><strong>Recuperarea</strong> durează două săptămâini timp după
care se pot purta cercei. Preferabil în prima lună ca aceștea să
fie de aur sau argint pentru prevenirea infecțiilor. Nu este
necesar tratament cu antibiotice. Se aplică doar un unguent cu AB,
local, pentru vindecare completă.</p>

<p>Cicatricea va fi vizibilă câteva luni după care devine
imperceptibilă.</p>

<p><em>Complicaţii posibile</em>: suprainfecţie;tratament - AB, o
nouă dehiscentă la aplicarea timpurie a cerceilor prea grei;
tratament - reintervenţie chirurgicală:</p>
	   </div>  	
      </div>
</div>
  </div> 
  </div>
</section>
<!--Aboutus--> 
