<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>Complicatiilor implanturilor mamare</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	  <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	  <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	   <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
	     <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
		 	  <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
	  

	  </div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
				<p>O privire aprofundata asupra complicatiilor implanturilor mamare
				si cum sa evitam aceste complicatii</p>

				<p>Atunci cand va pregatiti pentru o marire a sanilor, trebuie sa
				fiti constiente de complicatiile care ar putea sa apara. Ati putea
				evita cateva din ele printr-o mai buna planificare sau cel putin
				prin a fi mai bine pregatite sa gestionati problemele daca acestea
				apar.Ati putea chiar sa identificati o complicatie la inceput si sa
				spuneti despre ea inainte sa devina prea serioasa.</p>

				<p>In acest articol va furnizam detalii referitoare la
				complicatiile grave ale maririi sanilor, de ce apar, cum le puteti
				identifica si ce puteti face ca sa le preveniti.</p>

				<p><strong>COMPLICATII IMEDIATE</p></strong>

				<h3>1. Infectia</h3>

				<p>Aceasta poate fi inoculata intraoperator sau postoperator prin
				prezenta tuburilor de dren chiar daca pacienta este sub tratament
				antibiotic ( care este obligatoriu). Sensibilitatea la infectii
				este determinata si de imunitatea pacientei. Semnele infectiei
				sunt: cresterea temperaturii, piele de culoare rosie, edem local si
				durere. Tratamentul este aplicat urgent cu antibiotice tintit
				indicate administrate</p>

				<h3>2. Hematomul</h3>

				<p>In cazul operatiei clasice cu bisturiu creste probabilitatea
				sangerarii postoperatorii astfel incat se aduna un cheag in jurul
				implantului. Pentru prevenirea formarii hematomului se insera
				tuburi de dren, dar acestea cresc riscul de infectie. Cand este
				folosita RadioFrecventa pentru formarea " buzunarului" riscul de
				sangerare postoperatorie scade considerabil si nu e necesar sa se
				plaseze tuburi de drenaj postoperator.</p>

				<p>Tratament: hematomul se poate resorbi spontan sau necesita
				evacut cu siringa de catre chirurg.</p>

				<h3>3. Reactia la fire</h3>

				<p>In unele cazuri tesuturile reactioneaza la firele cu care a fost
				fixat santul submamar si are tendinta de a le respinge.</p>

				<p><strong>COMPLICATII TARDIVE</p></strong>

				<h3>1. "Double bubble" sau profilul dublu</h3>

				<p>Atunci cand implanturile sunt asezate in spatele muschiului
				pectoral si nu in fata lui, la femeile la care sanii au inceput sa
				se lase deja in mod natural ( ptoza), poate aparea o complicatie
				unica numita "double bubble". In timp ce implantul ramane pe loc,
				tesutul mamar se indoaie sub el si creeaza aparenta a doua santuri
				submamare.</p>

				<p><strong>Cum poate fi evitat efectul "double
				bubble"</strong>:</p>

				<ul>
				<li>Asezarea implantului in fata muschiului umple pielea lasata si
				previne aparitia acestei complicatii ( desi poate sa creasca
				posibilitatea aparitiei altor probleme estetice cum ar fi aspectul
				de cute.</li>

				<li>O ridicare a sanului in legatura cu asezarea sub-musculara a
				implantului ajuta la prevenirea ptozei</li>
				</ul>

				<p>Daca efectul "double bubble" apare, singurul tratament este
				interventia chirurgicala cu doua optiuni :</p>

				<ul>
				<li>re-operarea cu ridicarea sanului si asezare sub-musculara</li>

				<li>chirurgie cu indepartarea implantului si asezarea in fata
				muschiului</li>
				</ul>

				<p>Nota: acest efect poate aparea la cateva zile sau saptamani dupa
				operatie sau se poate dezvolta in timp pe masura ce tesutul mamar
				continua sa se lase, in special dupa nastere.</p>

				<h3>2. Contractura capsulara: riscuri si tratamente</h3>

				<p>Atunci cand vreun implant este inserat, corpul reactioneaza prin
				formarea unui tesut in jurul lui, numit capsula. In unele cazuri
				capsula incepe sa se adune, strangand implantul pe care il
				inconjoara.</p>

				<p>Desi cauzele exacte ale contracturii capsulare nu sunt
				cunoscute, exista factori care pot contribui la aceasta
				complicatie. Acesti factori includ:</p>

				<ul>
				<li>contaminarea cu germeni in timpul operatiei</li>

				<li>dezvoltarea fluidului in exces in jurul implantului</li>

				<li>hematom ( sangerare interna)</li>

				<li>infectie</li>

				<li>fumatul</li>

				<li>asezarea implantului peste muschi ( cand este pus sub muschi,
				contractura capsulara apare mai rar</li>
				</ul>

				<p>Depinzand de severitatea contracturii, sanul poate fi ferm sau
				dur, poate deveni deformat si poate incepe sa doara. Pentru a trata
				contractura capsulara exista optiuni chirurgicale si
				non-chirurgicale.</p>

				<h3>Tratament non-chirurgical</h3>

				<ul>
				<li>prescrierea de antibiotice si vitamina E. Desi nu e totdauna
				eficienta ca si tratament, multi chirurgi sugereaza sa se ia o doza
				regulata de vitamina E in primul an dupa marire, deoarece ajuta la
				mentinerea tesutului moale.</li>

				<li>Capsulotomie. Sanul este strans, cu speranta ca acea capsula se
				sparge. Acest lucru nu se face des, deoarece ar putea cauza ruperea
				implantului si astfel se pierde garantia producatorului.</li>

				<li>Tratamentul extern cu ultrasunete. Ar putea reduce umflaturile
				si inflamatiile si nu implica riscuri majore.</li>

				<li>Accolate / Acest anti- inflamator folosit in tratamentul
				astmului a aratat conform unor studii mai mici, ca ajuta la
				reducerea contracturii capsulare. Acest lucru este relativ nou si
				experimental fara date statistice pe termen lung.</li>
				</ul>

				<h3>Tratament chirurgical</h3>

				<ul>
				<li>apsulotomie deschisa. Capsula care inconjoara implantul este
				taiata chirurgical pentru a elibera implantul. Dar totusi exista
				sansa reaparitiei contracturii</li>

				<li>Capsulectomie deschisa. Aceasta e, in general cea mai de succes
				metoda de tratament. Intreaga capsula e indepartata, permitand
				formarea unui tesut nou in jurul implantului, In unele cazuri,
				chirurgii vor schimba asezarea implantului: de exemplu daca
				implantul este asezat peste muschi, chirurgul il poate aseza sub
				muschi pe timpul operatiei.</li>
				</ul>

				<p><strong>Cand implantul aluneca in jos : Cum se intampla si cum se
				rezolva</p></strong>

				<p>In unele cazuri tesutul suport din partea de jos a sanului poate
				sa slabeasca, permitand implantului sa alunece in jos fortand
				formarea unor pliuri.</p>

				<p>Factorii care pot contribui la alunecare:</p>

				<ul>
				<li>taietura prea mare a buzunarului implantului ( daca aceasta e
				cauza, alunecarea survine in cateva saptamani sau luni )</li>

				<li>implantul este prea greu pentru piele si tesutlui din partea de
				jos ( in acest caz alunecarea survine gradual in timp)</li>

				<li>asezarea implantului ( asezarea sub muschi duce la o scadere
				importanta a alunecarii fata de asezarea pe muschi sau partial sub
				muschi, desi acest lucru poate duce la un aspect mai putin
				natural)</li>
				</ul>

				<p><strong>Corectarea alunecarii</strong></p>

				<p>Pentru a corecta aceasta complicatie e necesara o operatie
				suplimentara:</p>

				<ul>
				<li>se face o incizie ( de obicei de-a lungul cutei sanului)</li>

				<li>tesutul care inconjoara implantul este taiat si rolat in sus
				pana in pozitia dorita si fixat cu suturi interne</li>

				<li>incizia este inchisa</li>
				</ul>

				<p>Nota: daca implantul este prea greu pentru testut, ar putea fi
				necesar sa fie inlocuit cu un implant mai mic sau temporar
				indepartat pana se vindeca tesutul</p>

				<p><strong>Ce este Sinmastia : cum se formeaza si cum e tratata ?</p></strong>

				<p>S. apare cand 2 implanturi se ating in centrul pieptului.
				Aceasta complicatie apare doar cand implanturile sunt asezate sub
				muschiul pectoral. Daca muschiul orizontal care e legat de stern si
				este peste implant e taiat, implantul, atunci cand se aseaza, la
				cateva zile dupa operatie, poate sa se miste spre mijlocul
				pieptului, impingand in sus pielea si tesutul</p>

				<p>Repararea S</p>

				<p>Repararea S necesita operatie suplimentara pentru a misca
				implantul inapoi in buzunarul original</p>

				<ul>
				<li>se face o incizie ( de obicei de-alungul santului submamar)
				pentru a ajunge la tesut, muschi si implant</li>

				<li>tesutul care inconjoara implantul este taiat si rolat inapoi
				pentru a se potrivi in buzunar</li>

				<li>tesutul este suturat pentru a mentine implantul in pozitie</li>

				<li>muschiul este apoi suturat intern inapoi, facand legatura cu
				sternul</li>

				<li>incizia este apoi suturata</li>
				</ul>

				<p>Cand se folosesc suturi externe pentru a corecta S, complicatia
				are o rata mare de reaparitie</p>

				<p>Statisticile semnaleaza ca rata complicatiilor postoperatorii in
				cazul implantului mamar este de 5%, ceea ce este foarte mult tinand
				cont de faptul ca alte interventii chirurgicale la pacienti
				sanatosi au rate de complicatii mai mici. Fiecare chirurg, in
				timpul consultatiei pentru implantarea de proteze mamare,
				avertizeaza in cel mai serios mod pacienta de problemele
				potentiale</p>

	   </div>  	
      </div>
</div>
  </div> 
  </div>
</section>
<!--Aboutus--> 
