<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>Mezobotox după metoda Dr Wu</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	  <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	  <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	  <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
	    <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
			  <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
			    <p><a href="./#/articol8"> Deviatia de sept si "Nasol lui Gogol"</a></p>
				<p><a href="./#/articol9"> Sculptra</a></p>
								 <p><a href="./#/articol10"> Sforaitul - Sindromul de apnee in somn</a></p>
								 	<p><a href="./#/articol11">Legendele Botoxului</a></p>
									<p><a href="./#/articol12">Atenuare riduri cu grăsime</a></p>
										
	  </div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
				<p>În fiecare an urmez un stagiu la clinica Dr Wofels Wu din
				Singapore. Pe lângă faptul că este unul dintre cei mai buni
				chirurgi plasticieni din lume, e un om de o empatie extraordinară
				gata oricând să împărtășească din secretele profesiunii. Anul
				acesta am aprofundat la clinica Dr Wu metoda sa originală de
				atenuare a ridurilor cu botox.</p>

				<p>Fiecare dintre noi cunoaște deja Botox-ul și acțiunile estetice
				ale acestuia: atenuarea transpirației de la nivelul axilelor și
				palmelor, atenuarea cicatricilor și atenuarea ridurilor. Lifting
				sprancene Atenuarea ridurilor " talpa gâștei"</p>

				<p>Metoda de injectare a Dr. Wu permite obținerea unui efect cât
				mai natural. Substanța injectată la un anumit nivel și in cantitate
				bine dozată va crea efectul de ștergere a ridurilor de la nivelul
				comisurilor ochilor fără accentuarea cearcănelor. Acesta este un
				detaliu foarte important deoarece pungile de sub ochi restante după
				injectarea cu Botox sunt, deobicei, o problemă majoră. Nu și în
				cazul aplicării metodei Dr Wu. Mezobotox Linii incruntare Liniile
				marionetei</p>    
	   </div>  	
      </div>
</div>
  </div> 
  </div>
</section>
<!--Aboutus--> 
