<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
  <h2>Atenuare riduri cu grăsime</h2>
    <div class="inner_section">
	<div class="row">
       	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
	<p>Cine a spus că Depozitele localizate de grăsime( DPL) nu sunt o
investiţie bună? Fiecare avem măcar cate un astfel de deposit bine
îngrijit şi bine alimentat (la propriu) pe parcursul anilor.</p>

<p>Întrebarea e - la ce ne poate fi de folos un astfel de deposit?
Răspunsul îl au chirurgii plasticieni. În special acum, pe vreme de
recesiune, e foarte bine de ţinut cont şi de utilitatea acestor
<strong>Depozite Localizate de Grăsime</strong>.</p>

<p>Toată lumea ştie deja că există diverse substanţe identice ca şi
compoziţie cu colagenul uman, care pot fi injectate pentru a umple
şi ridica pomeţii, pentru a umple şi nivela cearcănele, ridurile de
pe obraji şi din jurul buzelor. Nu sunt alergice, se integreaza
foarte bine în tegument şi persistă la locul injectat în jur de 5-8
luni. După ce substanţa s-a resorbit, se poate repeta tratamentul -
sau nu. Depinde de doleanţele individuale, de disponibilitatea
financiară (deşi nu sunt foarte costisitoare) şi de "dependenţa"
psihică pe care o dă imaginea mai tanară care ne zambeşte din
oglindă.</p>

<p>Există, însă, o metodă de atenuare a ridurilor şi ridicare a
pomeţilor mai puţin costisitoare pentru pacient, dar un pic mai
complexă pentru chirurg. Dar tendinţa este de a fi cat mai
eficienţi cu resurse cat mai accesibile ( adică proprii) şi cu
metode cat mai puţin invasive. Astfel se recoltează ţesut adipos de
la nivelul şoldurilor ( scăpaţi şi de colăcei cu ocazia asta), se
decantează şi separă printr-o tehnică specială colagenul conţinut
in acest ţesut, care mai apoi se injectează în locul necesar pentru
atenuarea ridurilor sau accentuarea pomeţilor.</p>

<p>Unicul dezavantaj faţă de metoda injectării substanţelor
preparate sintetic dar identice cu cele umane, este faptul că apare
inflamaţie un pic mai accentuată la locul injectării. Acestă
inflamaţie, tratată corect, dispare în două zile. Dar marele
avantaj este că dupa două sau trei injectări cu colagen propriu,
corpul începe să sintetizeze mai intens colagen şi în locul
injectat, astfel menţinandu-se efectul umplerii ridurilor chiar şi
cinci ani.</p>

<p>După un calcul simplu, o ocheadă în oglindă şi o vizită la o
clinică specializată puteţi trece peste cei aproximativ trei ani de
recesiune, care urmează, cu cheltuieli moderate şi privirea mai
relaxată.</p>
			</div>  	
      </div>
<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	  <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	    <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	   <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	    <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
		  <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
		  	  <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
			    <p><a href="./#/articol8"> Deviatia de sept si "Nasol lui Gogol"</a></p>
				<p><a href="./#/articol9">Sculptra</a></p>
				<p><a href="./#/articol10">Sforaitul - Sindromul de apnee in somn</a></p>
				
	 
	  </div>
	  </div>
 </div> 
  </div>
</section>