<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
  <h2>Sculptra</h2>
    <div class="inner_section">
	<div class="row">
       	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
<p>Practicile moderne de intinerire faciala se bazeaza, in mare
masura, pe doua principii de baza</p>

<ul>
<li>restabilirea volumetriei faciale</li>

<li>dermocontractura</li>
</ul>

<p>Aceste metode sunt minim sau chiar non-invazive astfel incat
pacienta/pacientul pot obtine un lifting facial in cadrul unei
sedinte de "terapie de pranz". Tot ce-i nou, se bazeaza pe concepte
si structuri deja verificate.</p>

<p><strong>Sculptra</strong> este un polimer sintetic din familia
alfa-hidroxi acizilor, fiind biocompatibil (nu genereaza reactii de
respingere din partea corpului uman) si biodegradabil (este complet
metabolizat si eliminat de catre corpul uman). Substanta de baza
(acidul poli-L-lactic), fara efect toxic, stabila chimic si fizic,
este folosita in medicina de peste 30 ani, in special in compozitia
materialelor de sutura resorbabile.</p>

<p><em>Astfel, la locul injectarii aceasta substanta determina, pe
parcursul resorbtiei acesteia, in mod controlat constituirea unei
noi retele de colagen care sustine obrazul, pometii si umple
ridurile</em>. Prin acest mecanism de actiune SCULPTRA reuseste sa
redea volumetria faciala si sa determine dermocontractura - factori
foarte importani in procesul de rejuvenare.</p>

<p>"<strong>Sculptra</strong> este un produs care asigura
reconturarea fetei afectata de imbatranire. Volumul pierdut este
inlocuit de tesut propriu care se dezvolta treptat dupa injectarea
Sculptra.", spune D-na Dr. Mihaela Leventer, Presedintele
Societatii Romane de Medicina Estetica si Dermatologie Cosmetica si
Chirurgicala (SRME).</p>

<p>"<strong>Sculptra</strong> - un instrument medical pretios in
restabilirea armoniei si volumelor fetei ce ne ajuta sa dobandim un
plus de frumusete si sa pastram pentru mai mult timp un chip mai
tanar, fara bisturiu.", spune D-na Dr. Dana Jianu, Vicepresedinte
al Societatii Romane de Chirurgie Estetica.</p>

<p>O sedinta de tratament dureaza 10-15 min.<br>
 Sunt necesare 2-3 sedinte la interval de o luna. Efectul este
remanent pentru 25 de luni. Posibilele efecte adverse ale Sculptra
pot fi cele legate de procesul de injectare, cum ar fi senzatia de
disconfort, roseata, sangerarea la locul de injectare. Alte efecte
adverse pot include formarea de mici noduli sub piele, in mod
particular atunci cand produsul este administrat intr-o
concentratie mare. Aceste formatiuni sunt in general invizibile cu
ochiul liber, simtindu-se doar la palparea zonei respective si de
regula dispar fara interventie medicala. Dupa cateva zile de la
injectare inflamatia dispare astfel incat aspectul este la fel cu
cel anterior momentului injectarii. Umplerea ridurilor si
contractarea dermului are loc, treptat, pe parcursul resorbtiei
substantei, astfel incat colagenul rezultat acestiui proces este
cel propriu.</p>
	   </div>  	
      </div>
<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p><i>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	  <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	    <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	   <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	    <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
		  <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
		  	  <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
			    <p><a href="./#/articol8"> Deviatia de sept si "Nasol lui Gogol"</a></p>
				 <p><a href="./#/articol10"> Sforaitul - Sindromul de apnee in somn</a></p>
				 	<p><a href="./#/articol11">Legendele Botoxului</a></p>
					<p><a href="./#/articol12">Atenuare riduri cu grăsime</a></p></i>
						
				
	 
	  </div>
	  </div>
 </div> 
  </div>
</section>


