<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
  <h2>Sforaitul - Sindromul de apnee in somn</h2>
    <div class="inner_section">
	<div class="row">
       	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
<p>Acest fenomen se manifesta frecvent la barbatii peste 30 de ani.
Uneori se intalneste si la femeile peste 35 ani. Devine un
impediment serios in buna oxigenare a creierului pacientului si
poate deveni, de cele mai multe ori, si un factor de stres extern
pentru partenerul acerstuia, impiedicand desfasurarea normala a
fazelor de somn.</p>

<p><img src="/content_images/articole/sforaitul01.jpg" alt="sforaitul" class="goRight"></p>

<p>Cauzele sindrom de apnee in somn pot fi diverse, constituiind un
complex de semne anatomice si fiziopatologice:
<strong><em>surplusul ponderal</em></strong>, <strong><em>consumul
de alcool</em></strong>, <strong><em>pozitia capului in timpul
somnului</em></strong>, <em><strong>deviatia de sept
nazal</strong></em>, <strong><em>hipertrofia cornetelor din
cavitatea nazala</em></strong>, <em><strong>polipii
nazali</strong></em>, <em><strong>hipertrofia luetei
("omuletul")</strong></em> si <em><strong>relaxarea musculaturii
valului palatin</strong></em>. Tot acest concert de mecanisme
anatomopatologice si fiziopatologice duc la vibrarea valului
palatin in timpul somnului astfel incat apare <strong>Sindromul de
Apnee in Somn</strong></p>

<p><strong>Tratamentul "sforaitului"</strong> difera in functia de
gradul de apnee ( lipsa de respiratie) si de frecventa episoadelor
acesteia. Exista metode de tratament conservator , minim invaziv si
chirurgical.</p>

<p><strong>Tratamentul conservator</strong> consta in aplicarea
unei masti cu presiune pozitiva continua de aer aplicata in timpul
noptii. Este o metoda simplu de aplicat dar cu un inconvenient
major: pacientul doarme cu masca. Se pot aplica instilatii
medicamentoase la nivelul mucoasei nazale pentru decongestionarea
acesteia si controlul pozitionarii extremitatii cefalice in
somn.</p>

<p><strong>Tratamentele chirurgicale</strong> constau in
rectificarea deviatiei de sept , extirparea polipilor.</p>

<p><img src="/content_images/articole/sforaitul03.jpg" alt="sforaitul" class="goRight"></p>

<p>Cel mai usor de aplicat din punct de vedere tehnic si cel mai
facil de suportat pentru pacient sunt <strong>tratamentele minim
invazive cu Radiofrecventa</strong>. Gradul de eficienta a acestui
tip de tratament este maxim cu atenuarea fenomenului de sforait. Se
intervine sub anesteziae locala la nivelul valului palatin si al
luetei sau a cornetelor nazale ( dupa caz), dupa care se aplica
tratamentul cu Radiofrecventa in anumite puncte penteu micsorarea
formatiunilor anatomice. Sfoaritul apare in timpul somnului
datorita relaxarii musculaturii valului palatin si, implicit, al
luetei ( omuletului) , iar acest tip de tratament ii reduce
dimensiunile "omuletului" (luetei), astfel incat sa nu obstruieze
caile aeriene si reduce gradul de laxitate. Tratamentul se aplica
in regim ambulator. Daca e necesar, se repeta inca o sedinta la
interval de o luna. Efecte secundare: primele doua zile
postoperator pacientul poate avea dificultati de degluititie (
inghitire), dureri in gat, sforait accentuat la decubit dorsal (
dormit "pe spate"). Tratamentul postoperator consta in aplicarea
solutiilor antiseptice sub forma de gargara de 3-4 ori pe zi.
Efectele benefice ale tratamentului cu Radiofrecventa vor fi
evidente dupa 14 zile si se vor imbunatati timp de 2-3 luni
postoperator.</p>

<p><strong>Sindromul de apnee in somn (sforaitul )este prezent pe
lista de diagnostice din cele mai vechi timpuri, dar acum exista
tratamentul minim invaziv pentru acesta: undele Radio.<img src="/media/13619/sforaitul_500x428.jpg" width="500" height="428" alt="sforaitul"></strong></p>
	   </div>  	
      </div>
<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	  <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	    <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	   <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	    <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
		  <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
		  	  <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
			    <p><a href="./#/articol8"> Deviatia de sept si "Nasol lui Gogol"</a></p>
				<p><a href="./#/articol9">Sculptra</a></p>
				<p><a href="./#/articol11">Legendele Botoxului</a></p>
				<p><a href="./#/articol12">Atenuare riduri cu grăsime</a></p>
					
	 
	  </div>
	  </div>
 </div> 
  </div>
</section>




