<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	  <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	  <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	  <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	  <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
	  <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
	    <p><a href="./#/articol8"> Deviatia de sept si "Nasol lui Gogol"</a></p>
		<p><a href="./#/articol9"> Sculptra</a></p>
						 <p><a href="./#/articol10"> Sforaitul - Sindromul de apnee in somn</a></p>
						 	<p><a href="./#/articol11">Legendele Botoxului</a></p>
							<p><a href="./#/articol12">Atenuare riduri cu grăsime</a></p>
								
	  </div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
<p>Introducere:<br>
 CPGF relativ nou intrata in domeniul chirurgiei plastice si
cosmetice a promis imbunatatirea activitatii sexuale, cosmetice si
functionale la femei. Procedurile estetice vulvovaginale de
labioplastie/vaginoplastie/perineoplastie ( "reintinerie vaginala")
si reducerea fraul clitorisului sunt eficiente si intrunesc
promisiunile? Pentru ce motiv femeile evita aceste proceduri ? Care
complicatii sunt evidente si ce efecte s-au remarcat in ce priveste
functia sexuala a femeilor si partenerilor lor ? Cine ar trebui sa
realizeze aceste proceduri ce instruire ar trebui sa aiba si care
sunt consideratiile etice?</p>

<p>Scop. Acest studiu a avut ca scop sa obtina date de iesire
utilizabile si obiective in ce priveste CPGF.</p>

<p>Masuri principale. 1) Motive pentru a considera chirurgia atat
din perspectiva pacientei cat si a medicului. 2) Functionarea
sexuala pre-operatorie per procedura. 3)Satisfactia generala a
pacientei, per procedura. 4) Efectul procedurii asupra satisfactiei
sexuale a pacientei, per procedura. 5) Perceptia pacientei asupra
satisfactiei sexuale a partenerului, per procedura. 6)
Complicatii</p>

<p>Metode. Acest studiu , care include 258 de femei si utilizeaza
341 de proceduri separate, provine de la un grup de 12 ginecologi,
uro-ginecologi si chirurgi plasticieni din 10 centre din 8 state.
104 labioplastii, 24 reduceri fraul clitorisului , 49 de reduceri
fraul clitorisului / labioplastii combinate, 47 vaginoplastii
si/sau perineoplastii si 34 labioplastii combinate si /sau reduceri
fraul clitorisului plus vaginoplastii/ perineoplastii, au fost
studiate retrospectiv, analizandu-se atat din punctul de vedere al
pacientului cat si al medicului, perceptia legata de oportunitatea
operatiei, de functia sexuala preoperatorie si cateva criterii
legate de rezultate.</p>

<p>Rezultate. Combinand cele 3 grupuri, 91,6 % dintre paciente au
fost satisfacute de rezultatele operatiei dupa un follow-up de 6-42
luni . S-a evidentiat o imbunatatire subiectiva semnificativa a
functiilor sexuale atat pentru femei cat si pentru partenerii lor
sexuali (p = 0,0078), in special la pacientele carora li s-au
aplicat procedurile de ingustare vaginala / suport perineal.
Complicatiile au fost acceptabile si fara consecinte majore.</p>

<p>Concluzii. Desi se scoate in evidenta ca aceste proceduri de
chirurgie plastica genitala pentru femei, nu sunt realizate pentru
a corecta "anormalitati", intrucat exista multa normalitate a
aparatului genital intern si extern al femeii, atat cele care au
nascut cat si cele care nu, multe femei aleg sa-si modifice vulva
si vaginul. Din datele obtinute in urma acestui studiu realizat cu
un grup de chirurgi plasticieni experimentati specializati in acest
domeniu, rezulta ca exista un nivel excelent atat al satisfactiei
sexuale cat si generale.</p>
  
	   </div>  	
      </div>
</div>
  </div> 
  </div>
</section>
<!--Aboutus--> 
