<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>Terapia de pranz a ridurilor</h2>
    <div class="inner_section">
	<div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	 <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	  <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	  <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	   <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
	   	  <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
	  </div>
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
<p>Ritmul vietii este tot mai alert. Expectativele de la viata sunt
tot mai pretentioase. Randamentul socio-profesional se cere a fi
tot mai ridicat. In conditiile in care se apropie si Sarbatorile de
Iarna toate doamnele sau domnisoarele sunt preocupate de cum vor
arata in toiul serbarilor. Mai ales doamnele, retinandu-se un pic
mai mult in fata oglinzii, se intreaba cat de multa lumina va fi in
sala de bal pentru ca, odata cu trecerea anilor ridurile se
contureaza tot mai pregnant chiar daca spiritul ramane mereu
tanar.</p>

<p>Orice femeie care este preocupata de imaginea ei respecta mai
mult sau mai putin cele trei principii de baza pentru ingrijirea
tenului: <strong>demachiere</strong>, <strong>tonifiere</strong> si
<strong>hidratare zilnica</strong>. In plus, se reflecta foarte
mult asupra calitatii pielei si starea generala a organismului.
<em>Frumusetea inseamna sanatate</em>, iar acest tandem poate fi
mentinut in conditiile in care alimentatia contine suficiente
<strong>Vit A</strong> si <strong>Vit C</strong>, ulei de peste
oceanic, proteine vegetale/animale si, foarte importantele fibre
alimentare. Toate acestea pe langa oxigenarea buna a tesuturilor
prin expunerea la aer nepoluat si exercitii fizice efectuate
sistematic.</p>

<p>Natura, insa, isi urmeaza cursul ei stabilit de materialul
genetic al fiecaruia si impregneaza trecerea timpului pe fata si
corpul nostru. Aceste efecte pot fi diminuate prin aplicarea
<strong>Chirurgiei Estetice minim-invazive</strong>. Sedintele de
"<em>terapie de pranz</em>" a ridurilor constau intr-o vizita la o
clinica specializata chiar si numai cu cateva zile inainte de un
eveniment monden important. Pentru ridurile de la nivelul fruntii,
ridurile de incruntare si cele la coltul ochiului:"<em>talpa
gastei</em>" se aplica <strong>tratamentul cu toxina
botulinica</strong>. Aceasta substanta este folosita de peste 20 de
ani in neurologie si oftalmologie. Este foarte importanta doza si
locul in care se injecteaza Botox-ul, astfel incat sa obtinem
rezultatul scontat. Efectele adverse la acesta substanta apar doar
din cauza supradozarii sau inocularii in puncte nepotrivite.</p>

<p>Vestea buna este ca orice complicatie este temporara.</p>

<p>O alta varianta de a face ca ridurile de langa buze sau de pe
obraz sa dispara este injectarea superficiala sau mai profunda cu
<strong>acid hialuronic</strong>. Aceste injectari tintesc exact
portiunea tegumentului de unde a inceput sa dispara colagenul si-l
reconstruiesc prin inlocuirea cu acid hialuronic purificat si
densificat pentru a mentine aspectul natural si fin al pielei. Aici
sunt posibile aparitia nedorita a nodulilor sau a infectiei locale,
efecte care pot fi prevenite sau neutralizate printr-o ingrijire
locala cu unguent cu antibiotic si masajul topic moderat. La fel
pot fi atenuate si ridurile de la nivelul gatului si decolteului
iar buzele care incep sa se retracte si sa formeze riduri fine
dispuse radiar pot fi accentuate in mod natural. Aici se foloseste
acidul hialuronic mai putin dens dar cu o consistenta identic
naturala.</p>

<p>O noutate in domeniu este refacerea aspectului tanar al
mainilor. Se poate injecta acid hialuronic si la nivelul santurilor
de pe fata dorsala a mainii, santuri care se adancesc din cauza
faptului ca pielea devine tot mai subtire odata cu varsta.</p>

<p>Toate aceste tehnici minim-invazive asociate cu
<strong>tratamentul de stimulare si densificare a colagenului cu
radiofrecventa</strong> (ex. <em><strong>Radiage</strong></em>) pot
mentine un aspect proaspat si tanar al fetei, sunt foarte usor de
aplicat, moderate ca si costuri cu un efect pe masura asteptarilor.
In plus, este foarte convenabil sa petreci cat mai putin timp la
doctor, chiar daca acesta este chirurg plastician.</p>

	   </div>  	
      </div>
</div>
  </div> 
  </div>
</section>
<!--Aboutus--> 
