<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
    <h2>Tratamentul Migrenei cu Botox</h2>
    <div class="inner_section">
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
				<p>După numeroase studii în domeniu au fost elucidate cauzele şi
			mecanismele migrenei care este considerată nu doar un sindrom, ci o
			afecţiune neuro-vasculară.</p>
			<p>Definiţia migrenei: migrena este considerată o durere de cap
			specifică persistentă, lancinantă (ascuţită) care afectează, de
			obicei, o parte a capului.</p>
			<p>Tipuri de migrenă:</p>
			<p><strong>Migrena cu aură sau migrena clasică</p></strong>
			<ul>
			<li>fenomenele oculare ( puncte negre sau steluţe) apar cu 10-30
			min înainte de apariţia algiei</li>
			<li>durează 1-2 zile</li>
			<li>acompaniată de astenie, confuzie, dificultăţi de vorbire,
			furnicături braţe şi faţă</li>
			</ul>
			<p><strong>Migrena fără aură sau comună</p></strong>
			<ul>
			<li>durează 3-4 zile</li>
			<li>simptome: fatigabilitate, confuzie, irascibilitate, retenţie de
			lichide, diaree, poliakiurie (urinări frecvente), greaţă,
			vărsături</li>
			</ul>
			<p><strong>Migrena atipică</p></strong>
			<ul>
			<li>caracterizată doar de aură</li>
			</ul>

			<p><strong>Migrena vestibulară</p></strong>

			<ul>
			<li>tulburări de echilibru</li>
			</ul>

			<p><strong>Migrena hemiplegică</p></strong>

			<ul>
			<li>paralizia temporară a unei părţi a corpului</li>
			</ul>

			<p><strong>Migrena oftalmică</p></strong>

			<ul>
			<li>durere periorbiculară, căderea pleoapei, vedere dublă</li>
			</ul>

			<p><strong>Migrena bazilară</p></strong>

			<ul>
			<li>disfunţii musculare</li>
			</ul>

			<p><strong>Status migrainosum</p></strong>

			<ul>
			<li>simptomele sunt exacerbate, persistă peste 72 h , necesită
			spitalizare</li>
			</ul>

			<p>&nbsp;</p>

			<p><strong>Cauzele naturale ale migrenei:</p></strong>

			<p>1.Genetica este un factor predispozant important în declanşarea
			crizelor de migrene. Se transmite pe linie maternă. 80% din
			persoanele afectate sunt femei.</p>

			<p>La persoanele predispuse se sintetizează în mitocondrii (
			fabrici de proteine din celule) o anumită enzimă: methylen
			tetrahidrofolat reductaza.</p>

			<p>Această enzimă produce un neurotransmiţător ( substanţă chimică
			ce acţionează pe terminaţiile nervoase) numit CGRP.</p>

			<p>Acesta din urmă acţionează asupra&nbsp; muşchilor pereţilor
			vaselor sanguine din teritoriul nervului trigemen ( zona faţă şi
			cap) şi determină dilatarea ( umflarea) acestora. Vasele dilatate
			secretă substanţe care irită terminaţiile nervoase. ASTFEL APARE
			DUREREA.</p>

			<p>2. Apariţia simptomelor este corelată de secreţia hormonală a
			glandei pituitare. De notat că activitatea acestei glande este în
			limite fiziologice (normale) doar că în funcţie de ea se produce
			neurotransmiţătorul care determină iritarea filetelor nervoase.</p>

			<p>3. Dupa ce nervii sunt iritaţi, aceştea secretă substanţe
			vasodilatatoare care determină dilatarea (umflarea) şi mai
			accentuată a arteriolelor care apasă pe nervi. Astfel apare reacţia
			în lanţ sau un cerc vicios de menţinere a migrenei.</p>

			<p>&nbsp;</p>

			<p><strong>Tipuri de tratament</strong>: Triptanii determină
			constricţia (micşorarea) vaselor, astfel încat sa nu mai fie
			iritaţi nervii din preajmă.</p>

			<p>Există şi substanţe naturale care previn aceste mecanisme -
			Tuliv.</p>

			<p>&nbsp;</p>

			<p><strong>Un alt tip de tratament este cel cu toxină botulinică
			(Botox)</strong>:</p>

			<p>O anumită doză de substanţă este injectată în zonele
			periorbiculare şi alte zone.</p>

			<p>Mecanismul de acţiune al enzimei botulinice este următorul -
			blocarea sinapselor (legăturilor dintre nervi şi plăcile muşchilor
			din pereţii vaselor). Astfel nu mai are loc dilatarea acestor vase
			şi, implicit, compresiunea(apăsarea) pe nervii din preajmă.</p>

			<p>Acest tratament se va efectua odata la 4-6 luni de către un
			chirurg plastician sau un neurolog. Şedinţa de injectare durează 10
			min.</p>

			<p>După primele tratamente, crizele sunt semnalate de către pacient
			doar ca şi o uşoara cefalee rapid trecătoare. După mai multe
			şedinţe - crizele dispar.</p>

			<p>Posibile complicaţii care ţin exclusiv de o tehnică de injectare
			deficitară: asimetrii în mimică, căderea temporară a&nbsp;
			pleoapei, echimoze ( vanătăi).</p>

			<p>Aceste fenomene dispar odată cu efectul tratamentului la 3-4
			luni.</p>

			<p>Relatări pacienţi care recurg la injectările cu Botox pentru
			prevenirea crizelor de migrenă dar şi pentru atenuarea ridurilor
			accentuate de expresie: Dl. Migrenă 0747339135.</p>   
	   </div>  	
      </div>
	  	
      <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p> <i>
	 <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	 <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	 <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	 <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
	   <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
	   	  <p><a href="./#/articol7">Tratamentul  complet al ulcerelor de gamba.</a></p>
		    <p><a href="./#/articol8"> Deviatia de sept si "Nasol lui Gogol"</a></p>
			<p><a href="./#/articol9"> Sculptra</a></p>
							 <p><a href="./#/articol10"> Sforaitul - Sindromul de apnee in somn</a></p>
							 	<p><a href="./#/articol11">Legendele Botoxului</a></p>
								<p><a href="./#/articol12">Atenuare riduri cu grăsime</a></p> </i>
				
	  </div>
</div>
  </div> 
  </div>
</section>
