a<section id="aboutUs"><!--Aboutus-->
<div class="inner_wrapper">
  <div class="container">
  <h2>Tratamentul  complet al ulcerelor de gamba.</h2>
    <div class="inner_section">
	<div class="row">
           	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
        	<div class=" delay-01s animated fadeInDown wow animated">
<p>Ulcerul de gamba poate fi cauzat de insuficienta venoasa sau
arteriala a membrului inferior. Simptomele, semnele si tratamentul
leziunilor difera in functie de cauza acestora.</p>

<p>Tratamentul unui ulcer de gamba cronic este, deobicei,
indelungat si doar conservator. Pacientii au foarte mult afectata
calitatea vietii, sunt dependenti de pansamente zilnice si de
medicamentele impotriva durerii. Practic, un ulcer de gamba poate
fi catalogat drept afectiune invalidanta.</p>

<p>Cercetarile stiintifice in domeniu au relevat importanta
stimularii formarii tesutului vascular si al pielii prin mijloace
medicamentoase dar si fizice aplicate local. Astfel, in cadrul
cercetarii pentru teza de doctorat, am demonstrat, prin rezultatele
clinice obtinute, faptul ca perioada de vindecare a plagilor
cronice poate fi scurtata considerabil ( 50 %) prin combinarea
tratamentului conservator local ( Stimulari Pulsatile Galvanice) si
a tratamentului chirurgical ( grefa de piele libera).</p>

<h2>1. Etapa tratamentului conservator.:</h2>

<ul>
<li>Se preia secretie din plaga si se analizeaza la laborator. In
functie de acest rezultat se administreaza tratamentul cu
antibiotice.</li>

<li>Se administreaza bai locale abundent doar cu ser fiziologic,
deoarece studiile au demonstrat faptul ca solutiile de Cloramina si
Betadine sunt toxice pentru tesutul granular.</li>

<li>Se aplica de doua ori/24 h tratament local cu WoundEl care
emite Stimulari Pulsatile Galvanice prin intermediul unor electrozi
sterili.</li>

<li>Pansamentele intre sedintele de tratament se vor efectua cu ser
fiziologic.</li>
</ul>

<p>Pacientul urmeaza acest tratament timp de 3-4 saptamani in regim
ambulator pana se dezvolta suficient tesutul de granulatie. Acest
moment este identrificat de catre medicul curant. Dupa aceasta cura
de tratament ulcerele mici si superficiale se vor inchide. Ulcerele
mari, profunde si vechi - vor fi pregatite pentru urmatoarea etapa:
tratamentul chirurgical.</p>

<h2>2. Tratamentul chirurgical</h2>

<p>Acest tratament va fi efectuat numai de catre un medic de
Chirurgie Plastica si Microchirurgie Reconstructiva. Chiar daca
este o metoda chirurgicala simpla, grefarea cu piele libera
despicata a ulcerelor necesita pregatirea specifica a plagii in
timpul operatiei si folosirea unui dispozitiv specific: Dermatomul
electric.</p>

<h2>3. Perioada de recuperare postoperatorie dureaza 14-21 de
zile.</h2>

<p>Pe parcursul acestei perioade pacientul ramane internat si se
aplica in continuare Stimulari Pulsatile Galvanice pentru a stimula
"prinderea" grefei de piele in proportie cat mai mare.</p>

	   </div>  	
      </div>
	   <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
	  <p><strong>Citeste mai mult despre: </strong></p>
	  <p><a href="./#/articol1">Tratamentul Migrenei cu Botox</a></p>
	  <p><a href="./#/articol2">Mezobotox după metoda Dr Wu</a></p>
	  <p><a href="./#/articol3">Cine ţi-o lua cercei!...</a></p>
	   <p><a href="./#/articol4"> Complicatiilor implanturilor mamare</a></p>
	    <p><a href="./#/articol5">Terapia de pranz a ridurilor</a></p>
		  <p><a href="./#/articol6">Un studiu multicentru referitor la Chirurgia Plastica Genitala Feminina (CPGF)</a></p>
	 
	  </div>
</div>
  </div> 
  </div>
</section>
<!--Aboutus--> 
