<section id="aboutUs"><!--Aboutus-->

<div id="changePassword" ng-controller="loginController">
				<center>
					<input type="password" style="width:25%;" class="form-control" placeholder="Old password" ng-model="changePasswordInfo.oldPassword" placeholder="password" required />
					<input type="password" style="width:25%;" class="form-control" placeholder="New password" ng-model="changePasswordInfo.newPassword" placeholder="password" required />
					<input type="password" style="width:25%;" class="form-control" placeholder="Confirm new password" ng-model="changePasswordInfo.confirmPassword" placeholder="password" required /><br/>
					<button id="changePasswordButton" class="btn" ng-click="changePassword()">Change Password</button>
				</center>
			</div>


</section>
		